<h1>ISR-MR-2020-01-18-IS02PT-GROUP5 Food Reccomendation Project</h1>
<h2>Food Data Exploration</h2>

<h3>Import packages</h3>
<ul>
    <li>Pandas</li>
    <li>Numpy</li>
</ul>
<em>Remove display width.</em>

In [1]:
import pandas as pd
import numpy as np

# Remove limit of display width, so require horizontal scroll bar
pd.set_option('display.max_colwidth', 0)

<h3>Load food data</h3>
<ul>
    <li>Display data information</li>
    <li>Display 1st 5 rows of data</li>
</ul>

In [2]:
#data = pd.read_csv("FoodDatabase.csv")
data = pd.read_csv("foodDataBase_PleaseUseThis_DC2.csv")
display(data.info())
display(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3920 entries, 0 to 3919
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   FoodName                    3920 non-null   object
 1   FoodGroup                   3920 non-null   object
 2   FoodSubGroup                3920 non-null   object
 3   PerServingHouseholdMeasure  3920 non-null   object
 4   CarbohydrateAmount_g        3920 non-null   float64
 5   CholesterolAmount_mg        3445 non-null   float64
 6   DietaryFibreAmount_g        3817 non-null   float64
 7   EnergyAmount_kcal           3920 non-null   float64
 8   GlycemicIndexAmount         101 non-null    float64
 9   ProteinAmount_g             3917 non-null   float64
 10  SugarAmount_g               3265 non-null   float64
 11  MonounsaturatedFatAmount_g  3565 non-null   float64
 12  PolyunsaturatedFatAmount_g  3590 non-null   float64
 13  SaturatedFatAmount_g        3669 non-null   float64
 14  TotalFatAmount_g            3912 non-null   float64
 15  IsMainDish                  3920 non-null   int64
 16  IsFastFood                  3920 non-null   int64
 17  IsBreakfast                 3920 non-null   int64
 18  IsBeverages                 3920 non-null   int64
 19  IsOthers                    3920 non-null   int64
 20  Vegan                       3920 non-null   int64
 21  Vegetarian                  3920 non-null   int64
 22  Halal                       3920 non-null   int64
 23  ContainsBeef                3920 non-null   int64
 24  Alcohol                     3920 non-null   int64
dtypes: float64(11), int64(10), object(4)
memory usage: 765.8+ KB

None

,FoodName,FoodGroup,FoodSubGroup,PerServingHouseholdMeasure,CarbohydrateAmount_g,CholesterolAmount_mg,DietaryFibreAmount_g,EnergyAmount_kcal,GlycemicIndexAmount,ProteinAmount_g,...,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
0,"2-in-1 coffee powder, with creamer",BEVERAGES,Non-alcoholic beverages,Packet (12g),7.79,0.16,0.46,56.28,NaN,0.82,...,0,0,0,1,0,0,1,1,0,0
1,"2-in-1 coffee powder, with sugar",BEVERAGES,Non-alcoholic beverages,Sachet (15g),13.28,NaN,1.20,60.60,NaN,0.87,...,0,0,0,1,0,1,1,1,0,0
2,3 in 1 ready to drink coffee instant,BEVERAGES,Non-alcoholic beverages,Can (240g),14.16,3.36,0.24,81.60,NaN,2.40,...,0,0,0,1,0,0,1,1,0,0
3,3-in-1 cereal,CEREAL AND CEREAL PRODUCTS,Breakfast cereals,Sachet (30g),13.11,1.80,1.17,89.10,23.1,2.37,...,0,0,0,0,1,0,1,1,0,0
4,3-in-1 coffee powder,"MIXED ETHNIC DISHES, ANALYZED IN SINGAPORE",Beverages,Sachet (20g),9.31,0.50,0.00,65.40,NaN,1.13,...,0,0,0,0,1,1,1,1,0,0

<h3>Convert Int64 to bool</h3>

In [3]:
column_names = data.select_dtypes(include='int64').columns
data[column_names] = data[column_names].astype(bool)
display(data.info())
display(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3920 entries, 0 to 3919
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   FoodName                    3920 non-null   object
 1   FoodGroup                   3920 non-null   object
 2   FoodSubGroup                3920 non-null   object
 3   PerServingHouseholdMeasure  3920 non-null   object
 4   CarbohydrateAmount_g        3920 non-null   float64
 5   CholesterolAmount_mg        3445 non-null   float64
 6   DietaryFibreAmount_g        3817 non-null   float64
 7   EnergyAmount_kcal           3920 non-null   float64
 8   GlycemicIndexAmount         101 non-null    float64
 9   ProteinAmount_g             3917 non-null   float64
 10  SugarAmount_g               3265 non-null   float64
 11  MonounsaturatedFatAmount_g  3565 non-null   float64
 12  PolyunsaturatedFatAmount_g  3590 non-null   float64
 13  SaturatedFatAmount_g        3669 non-null   float64
 14  TotalFatAmount_g            3912 non-null   float64
 15  IsMainDish                  3920 non-null   bool
 16  IsFastFood                  3920 non-null   bool
 17  IsBreakfast                 3920 non-null   bool
 18  IsBeverages                 3920 non-null   bool
 19  IsOthers                    3920 non-null   bool
 20  Vegan                       3920 non-null   bool
 21  Vegetarian                  3920 non-null   bool
 22  Halal                       3920 non-null   bool
 23  ContainsBeef                3920 non-null   bool
 24  Alcohol                     3920 non-null   bool
dtypes: bool(10), float64(11), object(4)
memory usage: 497.8+ KB

None

,FoodName,FoodGroup,FoodSubGroup,PerServingHouseholdMeasure,CarbohydrateAmount_g,CholesterolAmount_mg,DietaryFibreAmount_g,EnergyAmount_kcal,GlycemicIndexAmount,ProteinAmount_g,...,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
0,"2-in-1 coffee powder, with creamer",BEVERAGES,Non-alcoholic beverages,Packet (12g),7.79,0.16,0.46,56.28,NaN,0.82,...,False,False,False,True,False,False,True,True,False,False
1,"2-in-1 coffee powder, with sugar",BEVERAGES,Non-alcoholic beverages,Sachet (15g),13.28,NaN,1.20,60.60,NaN,0.87,...,False,False,False,True,False,True,True,True,False,False
2,3 in 1 ready to drink coffee instant,BEVERAGES,Non-alcoholic beverages,Can (240g),14.16,3.36,0.24,81.60,NaN,2.40,...,False,False,False,True,False,False,True,True,False,False
3,3-in-1 cereal,CEREAL AND CEREAL PRODUCTS,Breakfast cereals,Sachet (30g),13.11,1.80,1.17,89.10,23.1,2.37,...,False,False,False,False,True,False,True,True,False,False
4,3-in-1 coffee powder,"MIXED ETHNIC DISHES, ANALYZED IN SINGAPORE",Beverages,Sachet (20g),9.31,0.50,0.00,65.40,NaN,1.13,...,False,False,False,False,True,True,True,True,False,False

<h3>Goal: To categorise food into Vegetarian, Vegan, Halal, Contains beef</h3>
<ul>
    <li><h5>Vegan</h5></li>
    <ul>
        <li>No meat, fish, or poultry</li>
        <li>No animal products and by-products, for example</li>
        <ul>
            <li>eggs</li>
            <li>dairy products</li>
            <li>honey</li>
        </ul>
    </ul>
    <li><h5>Vegetarian</h5></li>
    <ul>
        <li><strong>Vegan</strong> food</li>
        <li>No meat, fish or poultry</li>
    </ul>
    <li><h5>Halal</h5></li>
    <ul>
        <li><strong>Vegetarian</strong> food</li>
        <li>No alcohol</li>
        <li>No pork</li>
        <li>Halal certified <em>(choose Malay food names?)</em></li>
    </ul>
    <li><h5>Contains beef</h5></li>
    <ul>
        <li>Not for Hindus</li>
        <li>Not for Buddhists</li>
    </ul>
</ul>

<h4>Add 4 binary columns, [Vegan, Vegetarian, Halal, ContainsBeef</h4>
<ul>
    <li>Vegan (fill value = True)</li>
    <li>Vegetarian (fill value = True)</li>
    <li>Halal (fill value = True)</li>
    <li>ContainsBeef (fill value = False)</li>
</ul>

In [4]:
data['Vegan']=True
data['Vegetarian']=True
data['Halal']=True
data['ContainsBeef']=False
display(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3920 entries, 0 to 3919
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   FoodName                    3920 non-null   object
 1   FoodGroup                   3920 non-null   object
 2   FoodSubGroup                3920 non-null   object
 3   PerServingHouseholdMeasure  3920 non-null   object
 4   CarbohydrateAmount_g        3920 non-null   float64
 5   CholesterolAmount_mg        3445 non-null   float64
 6   DietaryFibreAmount_g        3817 non-null   float64
 7   EnergyAmount_kcal           3920 non-null   float64
 8   GlycemicIndexAmount         101 non-null    float64
 9   ProteinAmount_g             3917 non-null   float64
 10  SugarAmount_g               3265 non-null   float64
 11  MonounsaturatedFatAmount_g  3565 non-null   float64
 12  PolyunsaturatedFatAmount_g  3590 non-null   float64
 13  SaturatedFatAmount_g        3669 non-null   float64
 14  TotalFatAmount_g            3912 non-null   float64
 15  IsMainDish                  3920 non-null   bool
 16  IsFastFood                  3920 non-null   bool
 17  IsBreakfast                 3920 non-null   bool
 18  IsBeverages                 3920 non-null   bool
 19  IsOthers                    3920 non-null   bool
 20  Vegan                       3920 non-null   bool
 21  Vegetarian                  3920 non-null   bool
 22  Halal                       3920 non-null   bool
 23  ContainsBeef                3920 non-null   bool
 24  Alcohol                     3920 non-null   bool
dtypes: bool(10), float64(11), object(4)
memory usage: 497.8+ KB

None

<h4>Extract columns that describes the food</h4>

In [5]:
colDesc = ['FoodName','FoodGroup','FoodSubGroup']
dataDesc= data[colDesc]
display(dataDesc.head())

,FoodName,FoodGroup,FoodSubGroup
0,"2-in-1 coffee powder, with creamer",BEVERAGES,Non-alcoholic beverages
1,"2-in-1 coffee powder, with sugar",BEVERAGES,Non-alcoholic beverages
2,3 in 1 ready to drink coffee instant,BEVERAGES,Non-alcoholic beverages
3,3-in-1 cereal,CEREAL AND CEREAL PRODUCTS,Breakfast cereals
4,3-in-1 coffee powder,"MIXED ETHNIC DISHES, ANALYZED IN SINGAPORE",Beverages

<h4>Compare the distinct food names, food groups and food sub groups with the number of data</h4>

In [6]:
print(f"No. of rows of data = {dataDesc.shape[0]}")
print(f"No. of distinct food names = {dataDesc['FoodName'].nunique()}")
print(f"No. of distinct food groups = {dataDesc['FoodGroup'].nunique()}")
print(f"No. of distinct food sub groups = {dataDesc['FoodSubGroup'].nunique()}")

No. of rows of data = 3920
No. of distinct food names = 3920
No. of distinct food groups = 18
No. of distinct food sub groups = 78

<em>
    <h5>Note:</h5>
    <ul>
        <li>There are duplicate food names, as the total number of rows is more than number of distinct food names</li>
    </ul>
</em>

<h4>Which are the duplicated food names?</h4>

In [7]:
duplicated_names = dataDesc[dataDesc.duplicated('FoodName')]['FoodName'].unique()
display(duplicated_names)
display(pd.DataFrame(dataDesc[dataDesc.duplicated('FoodName')].groupby(['FoodName','FoodSubGroup'])['FoodGroup'].unique()))

array([], dtype=object)

Empty DataFrame
Columns: [FoodGroup]
Index: []

<h4>Which are the unique nutrition values in the "Assam prawn"?</h4>

In [8]:
if (len(duplicated_names) > 0) :
    num_group=data.select_dtypes(include=np.number).columns
    group=['PerServingHouseholdMeasure']+num_group
    display(data[data['FoodName'] == duplicated_names[0]].groupby('PerServingHouseholdMeasure')[num_group].nunique())
    for col in data.columns:
        if (col in group):
            print(f"{col}:\t{list(data[data['FoodName'] == duplicated_names[0]][col].unique())}")

<em>
    <h5>Note:</h5>
    <ul>
        <li>There are 2 sets of nutrition values for 2 different servings of "Assam prawn"</li>
        <li>Set lower nutrition values for smaller serving, and higher nutrition values for larger serving</li>
    </ul>
</em>

<h4>Summarise the Assam Prawn duplicates into small and large, with the respective nutrition values</h4>

In [9]:
if (len(duplicated_names) > 0) :
    dictSmall={}
    dictLarge={}

    for col in data.columns:
        uniqueValues = data[data['FoodName'] == duplicated_names[0]][col].unique()

        if ((col not in num_group) & (col not in group)):
            dictSmall[col]=uniqueValues[0]
            dictLarge[col]=uniqueValues[0]
        elif (col not in num_group):
            print(uniqueValues)
            dictSmall[col]=uniqueValues[0]#.str.contains('16cm')
            dictLarge[col]=uniqueValues[1]#.str.contains('23cm')

        if (col in num_group):
            print(f'{col} : {uniqueValues}')
            dictSmall[col]=min(uniqueValues)
            dictLarge[col]=max(uniqueValues)

    dictSmall['FoodName'] = dictSmall['FoodName'] + ' (small)'
    dictLarge['FoodName'] = dictLarge['FoodName'] + ' (large)'

    display(dictSmall)
    display(dictLarge)

<h4>Update data</h4>

In [10]:
if (len(duplicated_names) > 0) :
    data = data[data['FoodName'] != duplicated_names[0]]
    data = data.append(dictSmall, ignore_index=True)
    data = data.append(dictLarge, ignore_index=True)
    data.drop_duplicates(subset='FoodName', inplace=True)
    data[data['FoodName'].str.contains('assam prawn', case=False)]

<h4>Re-extract the data descriptions</h4>

In [11]:
dataDesc= data[colDesc]
print(f"No. of rows of data = {dataDesc.shape[0]}")
print(f"No. of distinct food names = {dataDesc['FoodName'].nunique()}")
print(f"No. of distinct food groups = {dataDesc['FoodGroup'].nunique()}")
print(f"No. of distinct food sub groups = {dataDesc['FoodSubGroup'].nunique()}")

No. of rows of data = 3920
No. of distinct food names = 3920
No. of distinct food groups = 18
No. of distinct food sub groups = 78

<h4>List of distinct food groups</h4>

In [12]:
display(list(dataDesc['FoodGroup'].unique()))

['BEVERAGES',
 'CEREAL AND CEREAL PRODUCTS',
 'MIXED ETHNIC DISHES, ANALYZED IN SINGAPORE',
 'HEALTHIER CHOICE SYMBOL (HCS) PRODUCTS',
 'FAST FOODS',
 'FISH AND FISH PRODUCTS',
 'OTHER MIXED ETHNIC DISHES',
 'SUGARS, SWEETS AND CONFECTIONERY',
 'MISCELLANEOUS',
 'VEGETABLE AND VEGETABLE PRODUCTS',
 'FRUIT AND FRUIT PRODUCTS',
 'MEAT AND MEAT PRODUCTS',
 'NUTS AND SEEDS, PULSES AND PRODUCTS',
 'OILS AND FATS',
 'MILK AND MILK PRODUCTS',
 'EGG AND EGG PRODUCTS',
 'BREAKFAST FOODS',
 'MAIN DISH']

<h4>List of distinct food sub groups</h4>

In [13]:
display(list(dataDesc['FoodSubGroup'].unique()))

['Non-alcoholic beverages',
 'Breakfast cereals',
 'Beverages',
 'Beverages and sweetened drinks',
 'Others',
 'All fast food outlets in alphabetical order',
 'Cereal based dishes',
 'Shellfish and roe (eg all bivalves)',
 'Others (squids, algae, plankton etc)',
 'Fish and seafood based dishes',
 'Local cakes, desserts and snacks',
 'Desserts (puddings, mousses)',
 'Vegetable based dishes',
 'Pulses based dishes',
 'Stock cubes / flavourings, essence, yeast extracts,etc',
 'Alcoholic beverages',
 'Herbs, spices, condiments',
 'Vegetables, non-leafy (eg sweetcorn, beansprouts)',
 'Sauces, gravies (manufactured)',
 'Fish and roe',
 'Fruit and fruit products',
 'Fresh fruits',
 'Processed fruits (canned, pickled, juices etc)',
 'Vegetables,leafy',
 'Sauces, gravies and dressings',
 'Meat based dishes',
 'Pork',
 'Breads and rolls',
 'Baking / leavening agents',
 'Starchy roots,tubers,corms and stems',
 'Grains and flours',
 'Pulses and products (eg beancurds, tempeh)',
 'Legumes (eg fresh beans,peas in pods)',
 'Beef and veal',
 'Egg based dishes',
 'Cereal & cereal products',
 'Crustaceans (eg crabs, lobsters, crayfish)',
 'Biscuits(eg crackers)',
 'Confectionery (eg chocolates)',
 'Seeds and products',
 'Poultry (chicken, duck, turkey, pigeon etc)',
 "Pasta and noodles and 'dough wrappers'",
 'Buns (baked and steamed,plain and with sweet fillings)',
 'Animal fat (incl butter, ghee, lard, drippings, tallow etc)',
 'Milks',
 'Salad dressings',
 'Cakes and pastries(eg cakes mixes,croissants)',
 'Duck eggs (eg salted, century)',
 'Dairy products',
 'Cheeses',
 'Nuts and products',
 'Ice creams',
 'Sauces and recipe mixes',
 'Sugars, syrups',
 'Soups (manufactured)',
 'Cream',
 'Non dairy creamer, whiteners',
 'Others (frog, venison, turtle etc)',
 'Mutton and lamb',
 'Others (eg turtle eggs, egg substitutes)',
 'Hen eggs',
 'Eggs & egg products',
 'Quail eggs',
 'Yoghurts (yogurt drinks under 1102)',
 'Savory spreads/dips (salsa, promite)',
 'Goat and kid',
 "Convenience meals or 'meal-type' products",
 'Jams, jellies, preserves',
 'Fruit & fruit products',
 'Fats & oils',
 'Soft margarine',
 'Hard margarine',
 'Seed oils',
 'Game (eg ostrich, emu, buffalo)',
 'Seafood & seafood products',
 'Legumes, nuts and seeds & their products',
 'Breakfast foods',
 'Main dish with meat']

<h4>List of food sub groups for each food group</h4>

In [14]:
display(pd.DataFrame(dataDesc.groupby(['FoodGroup'])['FoodSubGroup'].nunique()))
display(pd.DataFrame(dataDesc.groupby(['FoodGroup'])['FoodSubGroup'].unique()))

                                            FoodSubGroup
FoodGroup
BEVERAGES                                   2
BREAKFAST FOODS                             1
CEREAL AND CEREAL PRODUCTS                  7
EGG AND EGG PRODUCTS                        4
FAST FOODS                                  1
FISH AND FISH PRODUCTS                      4
FRUIT AND FRUIT PRODUCTS                    2
HEALTHIER CHOICE SYMBOL (HCS) PRODUCTS      11
MAIN DISH                                   1
MEAT AND MEAT PRODUCTS                      7
MILK AND MILK PRODUCTS                      5
MISCELLANEOUS                               9
MIXED ETHNIC DISHES, ANALYZED IN SINGAPORE  10
NUTS AND SEEDS, PULSES AND PRODUCTS         3
OILS AND FATS                               4
OTHER MIXED ETHNIC DISHES                   6
SUGARS, SWEETS AND CONFECTIONERY            4
VEGETABLE AND VEGETABLE PRODUCTS            4

                                                                                                                                                                                                                                                                                                                      FoodSubGroup
FoodGroup
BEVERAGES                                   [Non-alcoholic beverages, Alcoholic beverages]
BREAKFAST FOODS                             [Breakfast foods]
CEREAL AND CEREAL PRODUCTS                  [Breakfast cereals, Breads and rolls, Grains and flours, Biscuits(eg crackers), Pasta and noodles and 'dough wrappers', Buns (baked and steamed,plain and with sweet fillings), Cakes and pastries(eg cakes mixes,croissants)]
EGG AND EGG PRODUCTS                        [Duck eggs (eg salted, century), Others (eg turtle eggs, egg substitutes), Hen eggs, Quail eggs]
FAST FOODS                                  [All fast food outlets in alphabetical order]
FISH AND FISH PRODUCTS                      [Shellfish and roe (eg all bivalves), Others (squids, algae, plankton etc), Fish and roe, Crustaceans (eg crabs, lobsters, crayfish)]
FRUIT AND FRUIT PRODUCTS                    [Fresh fruits, Processed fruits (canned, pickled, juices etc)]
HEALTHIER CHOICE SYMBOL (HCS) PRODUCTS      [Beverages and sweetened drinks, Others, Cereal & cereal products, Dairy products, Sauces and recipe mixes, Eggs & egg products, Convenience meals or 'meal-type' products, Fruit & fruit products, Fats & oils, Seafood & seafood products, Legumes, nuts and seeds & their products]
MAIN DISH                                   [Main dish with meat]
MEAT AND MEAT PRODUCTS                      [Pork, Beef and veal, Poultry (chicken, duck, turkey, pigeon etc), Others (frog, venison, turtle etc), Mutton and lamb, Goat and kid, Game (eg ostrich, emu, buffalo)]
MILK AND MILK PRODUCTS                      [Milks, Cheeses, Ice creams, Cream, Yoghurts (yogurt drinks under 1102)]
MISCELLANEOUS                               [Stock cubes / flavourings, essence, yeast extracts,etc, Herbs, spices, condiments, Sauces, gravies (manufactured), Others, Baking / leavening agents, Salad dressings, Soups (manufactured), Non dairy creamer, whiteners, Savory spreads/dips (salsa, promite)]
MIXED ETHNIC DISHES, ANALYZED IN SINGAPORE  [Beverages, Cereal based dishes, Fish and seafood based dishes, Vegetable based dishes, Local cakes, desserts and snacks, Pulses based dishes, Fruit and fruit products, Sauces, gravies and dressings, Meat based dishes, Egg based dishes]
NUTS AND SEEDS, PULSES AND PRODUCTS         [Pulses and products (eg beancurds, tempeh), Seeds and products, Nuts and products]
OILS AND FATS                               [Animal fat (incl butter, ghee, lard, drippings, tallow etc), Soft margarine, Hard margarine, Seed oils]
OTHER MIXED ETHNIC DISHES                   [Local cakes, desserts and snacks, Fish and seafood based dishes, Meat based dishes, Cereal based dishes, Vegetable based dishes, Pulses based dishes]
SUGARS, SWEETS AND CONFECTIONERY            [Desserts (puddings, mousses), Confectionery (eg chocolates), Sugars, syrups, Jams, jellies, preserves]
VEGETABLE AND VEGETABLE PRODUCTS            [Vegetables, non-leafy (eg sweetcorn, beansprouts), Vegetables,leafy, Starchy roots,tubers,corms and stems, Legumes (eg fresh beans,peas in pods)]

<em>
    <h5>Note:</h5>
    <ul>
        <li>Although the food sub groups are descriptive, the food names might provide more information for categorisation</li>
    </ul>
</em>

<h4>List of food for each food sub group in 'BEVERAGES' food group</h4>

In [15]:
FoodGroup = 'BEVERAGES'
display(pd.DataFrame(dataDesc[dataDesc['FoodGroup'] == FoodGroup].groupby(['FoodSubGroup'])['FoodName'].nunique()))
display(pd.DataFrame(dataDesc[dataDesc['FoodGroup'] == FoodGroup].groupby(['FoodSubGroup'])['FoodName'].unique()))

                         FoodName
FoodSubGroup
Alcoholic beverages      36
Non-alcoholic beverages  91

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           FoodName
FoodSubGroup
Alcoholic beverages      [Ale, Beer, lager, light malt, Benedictine D.O.M, Bloody mary, Brandy, Champagne, Coffee flavoured liqueur, Daiquiri, Draught, Dry sherry, Gin, Gin tonic, Light beer, Liqueur coffee, Liqueur coffee with cream, Low alcohol beer / non alcoholic, Manhattan, Mocha frappuccino with whipped cream, Port, Red wine, Regular beer, Rose wine, unspecified type, Rum, Sake (rice wine), Screwdriver, Sherry, unspecified type, Spirits, Sweet sherry, Tequila sunrise, Vodka, Whisky, White wine, unspecified type, Wine cooler, Wine, white, dry style, Wine, white, medium, dry style, Wine, white, medium, sweet style]
Non-alcoholic beverages  [2-in-1 coffee powder, with creamer, 2-in-1 coffee powder, with sugar, 3 in 1 ready to drink coffee instant, 3-in-1 coffee powder, low sugar, Apple juice, Apple juice drink, Apple juice drink, with no added sugar, Apricot nectar juice drink, Black tea (no sugar), Brewed coffee, Caramel macchiato, Carrot, green apple, orange juice, Celery juice, Cheese foam bubble tea, no topping, 0% sugar - LiHo, Chocolate chip frappuccino, Chocolate chip frappuccino with whipped cream, Chocolate milk bubble tea, Chrysanthemum tea, Chrysanthemum tea (reduced sugar), Citrus carbonated water, Coca Cola Coke, Coca Cola Light, Coconut water, Coffee and chocolate chip frappuccino, Coffee and chocolate chip frappuccino with whipped cream, Coffee powder, instant, Coffee, decaffeinated, instant, powder, Cream soda, Drink mix, orange flavor, powder, Espresso, Fresh apple juice, Fresh orange juice, Fruit punch, Ginger ale, Green tea (no sugar), Green tea drink, Green tea frappuccino, Green tea frappuccino with whipped cream, Guava nectar juice, Horlick dinosaur, Hot chocolate, Hot chocolate with whipped cream, Ice limau, Ice teh o limau, Ice teh o longan, Ice teh o lychee, Iced lemon tea, Kopi C, Lemon flavoured soft drink, Lemon lime soda, Lemonade soft drink, Luo han guo drink, Milk tea no toppings, 0% sugar, Milk tea with pearls, 0% sugar, Milk tea, bottled, Milk tea, no toppings, 100% sugar, Milo Godzilla, Milo dinosaur, Milo powder, Australia, Milo, 3-in-1, powder, Milo, ready-to-drink, Orange and mango juice drink, Orange flavour drink, breakfast type, fortified, powder, Orange flavoured soft drink, Orange juice, Orange juice, fortified with calcium, Ovaltine powder, Root beer, Root beer float, Soya bean drink, Soyabean milk without sugar, Sugar cane juice, Sugar cane juice (2018), Sweetened packet drink, Syrup limau, Tea instant, sweetened, lemon flavour, powder, Tea with sugar, Tea, chinese, fermented, infusion, Tea, herbal, other than chamomile, brewed, Tea, powder, unsweetened, instant, Teh, Teh C kosong, Thai green milk tea, Thai milk tea, Tonic water, Tropical juice drink, Water chestnut drink, Water, mineral, natural, unflavoured, Water, plain, Watermelon and pineapple juice, Wheatgrass drink]

<h3>Update data label function</h3>

In [16]:
def UpdateDataLabels(dataUpdate, foodGroups, foodSubGroups, labelNames, keyWords, value):
    # Able to accept string and list, but working type is list
    if (type(foodGroups) is str):
        foodGroups = [foodGroups]
        
    if (type(foodSubGroups) is str):
        foodSubGroups = [foodSubGroups]
        
    if (type(labelNames) is str):
        labelNames = [labelNames]
        
    for group in foodGroups:
        # Update all rows in food group, so food sub groups are all sub groups in food group
        if (foodSubGroups is None):
            foodSubGroups = dataUpdate[(dataUpdate['FoodGroup'] == group)]['FoodSubGroup'].unique()
        
        for subgroup in foodSubGroups:
            for name in labelNames:
                if (keyWords is None):
                    # Update the value for the rows of food group and food sub group
                    dataUpdate.loc[(dataUpdate['FoodGroup'] == group) & (dataUpdate['FoodSubGroup'] == subgroup), name] = value
                else:
                    for word in keyWords:
                        # Update the value for the rows of food group, food sub group and food name containing keyword
                        dataUpdate.loc[(dataUpdate['FoodGroup'] == group) & (dataUpdate['FoodSubGroup'] == subgroup) & \
                                       (dataUpdate['FoodName'].str.contains(word, case=False)), name] = value

    # Display the number of false values and number of true values for the 4 labels
    display(dataUpdate.select_dtypes(include='bool').apply(pd.value_counts))

<em>
    <h5>Note:</h5>
    <ul>
        <li>Non-vegan:</li>
        <ul>
            <li>Alcoholic:</li>
            <ul>
                <li>Liqueur coffee with <strong>cream</strong></li>
                <li><strong>Mocha frappuccino</strong> with whipped <strong>cream</strong></li>
            </ul>
            <li>Non-Alcoholic:</li>
            <ul>
                <li>2-in-1 coffee powder, with <strong>creamer</strong></li>
                <li><strong>3 in 1</strong> ready to drink coffee instant</li>
                <li><strong>3-in-1</strong> coffee powder, low sugar</li>
                <li><strong>Caramel</strong> macchiato</li>
                <li><strong>Cheese</strong> foam bubble tea, no topping, 0% sugar - LiHo</li>
                <li><strong>Chocolate</strong> chip <strong>frappuccino</strong></li>
                <li><strong>Chocolate</strong> chip <strong>frappuccino</strong> with whipped <strong>cream</strong></li>
                <li><strong>Chocolate milk</strong> bubble tea</li>
                <li>Coffee and <strong>chocolate</strong> chip <strong>frappuccino</strong></li>
                <li>Coffee and <strong>chocolate</strong> chip <strong>frappuccino</strong> with whipped <strong>cream</strong></li>
                <li><strong>Cream</strong> soda</li>
                <li>Green tea <strong>frappuccino</strong></li>
                <li>Green tea <strong>frappuccino</strong> with whipped <strong>cream</strong></li>
                <li><strong>Horlick</strong> dinosaur</li>
                <li>Hot <strong>chocolate</strong></li>
                <li>Hot <strong>chocolate</strong> with whipped <strong>cream</strong></li>
                <li>Kopi <strong>C</strong></li>
                <li><strong>Milk</strong> tea no toppings, 0% sugar</li>
                <li><strong>Milk</strong> tea with pearls, 0% sugar</li>
                <li><strong>Milk</strong> tea, bottled</li>
                <li><strong>Milk</strong> tea, no toppings, 100% sugar</li>
                <li><strong>Milo</strong> Godzilla</li>
                <li><strong>Milo</strong> dinosaur</li>
                <li><strong>Milo</strong> powder, Australia</li>
                <li><strong>Milo, 3-in-1</strong>, powder</li>
                <li><strong>Milo</strong>, ready-to-drink</li>
                <li><strong>Ovaltine</strong> powder</li>
                <li>Root beer <strong>float</strong></li>
                <li><strong>Teh</strong></li>
                <li><strong>Teh C</strong> kosong</li>
                <li>Thai green <strong>milk</strong> tea</li>
                <li>Thai <strong>milk</strong> tea</li>
            </ul>
        </ul>
        <li>Vegan:</li>
        <ul>
            <li>Non-Alcoholic:</li>
            <ul>
                <li>Teh o</li>
            </ul>
        </ul>
        <li>Non-halal:</li>
        <ul>
            <li>All <strong>alcoholic</strong> berverages</li>
        </ul>
    </ul>
</em>

<h4>Set Vegan and Halal labels for beverages</h4>

In [17]:
# Non-Vegan
FoodSubGroup = None
LabelNames = ['Vegan']
Keywords = ['cream','mocha','frappuccino','3[\s\S]in[\s\S]1','caramel','cheese','chocolate','horlick','kopi c', 'milk tea',\
            'milo','ovaltine','float','teh','cappuccino']
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

# Vegan
Keywords = ['teh o']
value = True
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

# Non-Halal
FoodSubGroup = 'Alcoholic beverages'
LabelNames = ['Halal']
Keywords = None
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,37,NaN,NaN,3920.0,3884
True,119,204,100,127,3370,3883,3920.0,3920.0,NaN,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,34,NaN,NaN,3920.0,3884
True,119,204,100,127,3370,3886,3920.0,3920.0,NaN,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,34,NaN,36,3920.0,3884
True,119,204,100,127,3370,3886,3920.0,3884,NaN,36

<h4>List of food for each food sub group in 'CEREAL AND CEREAL PRODUCTS' food group</h4>

In [18]:
FoodGroup = 'CEREAL AND CEREAL PRODUCTS'

display(pd.DataFrame(dataDesc[dataDesc['FoodGroup'] == FoodGroup].groupby(['FoodSubGroup'])['FoodName'].nunique()))
display(pd.DataFrame(dataDesc[dataDesc['FoodGroup'] == FoodGroup].groupby(['FoodSubGroup'])['FoodName'].unique()))

                                                        FoodName
FoodSubGroup
Biscuits(eg crackers)                                   47
Breads and rolls                                        51
Breakfast cereals                                       20
Buns (baked and steamed,plain and with sweet fillings)  29
Cakes and pastries(eg cakes mixes,croissants)           33
Grains and flours                                       86
Pasta and noodles and 'dough wrappers'                  85

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           FoodName
FoodSubGroup
Biscuits(eg crackers)                                   [Biscuit, alphabet, Biscuit, chocolate, Biscuit, chocolate chip, Biscuit, chocolate flavour, sandwiched with cream filling, Biscuit, chocolate-coated, Biscuit, chocolate-coated, cream filled, Biscuit, coconut, Biscuit, cream cracker (old), Biscuit, finger cream, Biscuit, flavoured, Biscuit, green gram, Biscuit, iced, Biscuit, lemon puff, Biscuit, marie, Biscuit, oatmeal, Biscuit, ovaltine, Biscuit, peanuts and coconut, Biscuit, rice cracker, Biscuit, sandwiched with peanut butter filling, Biscuit, savoury, cheese-flavoured, Biscuit, savoury, plain, Biscuit, savoury, salada style, Biscuit, savoury, wholemeal, Biscuit, soda (old), Biscuit, sultana, Biscuit, sweet, ginger flavoured, Biscuit, sweet, wheatmeal, Biscuit, wafer, Biscuit, with cream filling, Biscuits, high calcium, Butter cookies, Cashew nut cookies, Chocolate chip cookie, Cookie, cornflake, Cookie, peanut, Cookie, peanut butter filling, regular, Cookie, sesame seed, Cracker, high fat, small, round biscuit sprinkled with salt, Cracker, with cheese filling, Cream cracker, plain, Cream cracker, sugared, Cream cracker, wholemeal, Digestive biscuit, Ice cream cones, cake or wafer type, Plain crackers, Pretzels, Wafer, chocolate]
Breads and rolls                                        [Bagel, plain, Beef banh mi, Bread roll, white, Bread roll, white, soft, Bread roll, wholemeal, Bread, brown, Bread, brown, toasted, Bread, butterscotch-flavoured, Bread, chocolate chip, Bread, coconut, Bread, french, Bread, garlic, Bread, oat bran, Bread, pita, Bread, raisin, Bread, rolls, Bread, ryemeal, Bread, white, Bread, white, aerated, high protein, Bread, white, fibre increased, Bread, white, fibre increased, toasted, Bread, white, from bakery shop, Bread, white, protein increased, Bread, white, protein increased, toasted, Bread, white, toasted, Bread, whitemeal, enriched, Bread, wholemeal, enriched, Bread, wholemeal, fibre increased, Bread, wholemeal, fibre increased, toasted, Bread, wholemeal, toasted, Bread, with banana and walnut, Breadcrumb, commercial, Bun, steamed, Butter roll, Butter sugar roll, Cheese and ham bun, Chicken banh mi, Chocolate cream roll, Coffee bun, Corn bread, Croutons, plain, French toast, frozen, French toast, made with low fat (2%) milk, Frozen prata, cooked, Pandan bread, enriched, Papadum, raw, Pizza, ham and pineapple, frozen, baked, Pizza, tomato and cheese, Pork banh mi, Softmeal bread, enriched, Swiss roll]
Breakfast cereals                                       [3-in-1 cereal, 4 in 1 brown rice cereal, Breakfast cereal, flavoured, contains whole grains, Breakfast cereal, flavoured, not whole grains, Breakfast cereal, mixed, contains whole grains, Breakfast cereal, mixed, not whole grains, Breakfast cereal, plain, contains whole grains, Breakfast cereal, plain, not whole grains, Cereal, puffed rice with cocoa coating, Cereal, rice and wheat flakes, sweetened, Cereal, wheat bran flakes, Cereal, wheat bran pellets, Cereals, ready-to-eat, muesli, dried fruit and nuts, Froot loops, kelloggs, Granola, quaker, oat and honey, Honey smacks, kelloggs, Instant cereal, Nutrigrain, kelloggs, Oat, rolled, boiled, Weet-Bix (original)]
Buns (baked and steamed,plain and with sweet fillings)  [Bun, chicken curry, Bun, cinnamon, Bun, coconut, Bun, custard, Bun, dried shrimp, Bun, fruit, glazed, Bun, fruit, iced, Bun, melon, Bun, pork floss, Bun, sausage, Bun, sugared, Bun, susi, Bun, sweet, with dried fruit, Bun, with sugar coated topping, Cake, carrot, with cream cheese frosting, Cheese bun, Kaya bun, Pow, char siew, steamed, Pow, lotus seed paste, Pow, pork, Pow, red bean, Pow, sweetcorn, Pow, vegetable, Pow, vegetarian chicken, Pow, yam, Red bean bun, Roll, cinnamon, with icing, Rolls, hamburger or hotdog, plain, Walnut bun]
Cakes and pastries(eg cakes mixes,croissants)           [Cake, black forest, commercial, Cake, chocolate, homemade, Cake, fruit, dark, uniced, commercial, Cake, fruit, light, uniced, commercial, Cake, fruit, uniced, homemade, Cake, plain, commercial, Cake, plain, uniced, homemade, Cake, sponge, plain, with jam and cream, commercial, Castella cake, cheese-flavoured, Cheesecake, baked, Cheesecake, commercial, Cookies, brownies, commercially prepared, Croissant, Croissant, with egg, cheese and ham, Cupcake, iced, commercial, Danish pastry, Doughnut, chocolate coated, Eclair, chocolate, commercial, Kimchi pancake, Muffin, english, Muffin, english, toasted, Pancake, home prepared, Pastry, puff, commercial, raw, Pastry, shortcrust, commercial, baked, Pastry, shortcrust, commercial, raw, Pikelet, home-prepared, cooked, Pound cake, frozen, Quiche, ham, Sausage roll, individual size, ready to eat, Scone, plain, commercial, Scone, plain, home prepared, Tart, custard, individual, commercial, Tart, jam, individual, commercial]
Grains and flours                                       [Barley, pearl, raw, Beef pho, Brown rice cooked, Brown rice porridge, plain, Bulgar, cooked, Bulgur, boiled, Bulgur, dried, Bulgur, soaked, Chicken chop with fried rice, Chicken gimbap, Chicken katsu don, China pearl barley, raw, Corn stick, chocolate flavoured, Custard powder, Dough, yeast, Easy crispy coating flour, Fish curry mix, Flour, arrowroot, Flour, atta, Flour, corn, Flour, gluten, Flour, glutinous rice, Flour, rice, Flour, rye, wholemeal, Flour, soyafluff soy, Flour, wheat, high protein, Flour, wheat, white, Flour, wheat, white, self raising, Flour, wheat, wholemeal, Fried ebi & teriyaki chicken bento (tested chicken only), Fried fish and beef bento (tested beef only), Fried fish porridge, Gluten, Gluten, fried, Grains based salad with 3 vegetable toppings, no dressing, Grains based salad with chicken and 3 vegetable toppings, no dressing, Grains based salad with fish and 3 vegetable toppings, no dressing, Korean bulgogi pork with rice, Maize, raw, Mee siam (2018), Millet, raw, Mushroom risotto, Oat, bran, raw, Oat, processed, tinned, Oat, rolled, raw, Oyster mee sua, Poke bowl, salmon, Poke bowl, tuna, Pop corn, buttered, Pop corn, durian flavoured, Pork katsu don, Quinoa, dry, Red rice porridge, plain, Red rice, cooked, Rice bran, coarse, Rice bran, extruded, Rice bran, fine, Rice flour, brown, Rice, broken, raw, Rice, brown, long-grain, raw, Rice, flakes, Rice, glutinous, black, raw, Rice, glutinous, white, cooked, Rice, glutinous, white, raw, Rice, multigrain, raw, Rice, parboiled, Rice, puffed, Rice, unpolished, raw, Sago, pearl, Salmon don, Seafood risotto, Semolina, cooked, Semolina, raw, Sliced fish bee hoon with milk, Sliced fish bee hoon, no evaporated milk, Spices of the orient flour, original, Tempura don, assorted, Thai basil beef with rice, Thai basil pork with rice, Vegetarian chicken, Wheat germ, Wheat, bran, unprocessed, Wheat, whole grain, White rice cooked, White rice, raw, Yellow corn grits, dry]
Pasta and noodles and 'dough wrappers'                  [Brown rice bee hoon, fried, plain, Brown rice kway teow, cooked, Brown rice laksa noodles, cooked, Brown rice yellow noodles, raw, Cheese prata bomb, Chicken pho, Cooked beehoon, Cooked brown rice beehoon, Crayfish pasta, Creamy chicken pasta, Creamy mushroom pasta, Curry udon with potato & carrot, Dao xiao mian, beef, soup, Dried ee mee, raw, Dry ban mian, Dumpling ban mian, pork, Dumpling skin, raw, Hong Kong noodles, raw, Hoshisoba, boiled, Japanese shio ramen, Japanese shoyu ramen, Kway teow, cooked, Kway teow, raw, Laksa noodles, cooked, Lasagne/Lasagna, Beef, Restaurant Style, Ready-to-eat, Mac and cheese, Macaroni, cooked, unenriched, Macaroni, dried, Meatball pasta, Mee goreng (2018), Mee sua, cooked, Mee sua, raw, Mini boat noodles, beef, Mini boat noodles, pork, Noodle snack, chicken flavoured, dried, Noodles, dried, Noodles, dried, instant, without seasoning, Noodles, egg, cooked, unenriched, Noodles, egg, dry, unenriched, Noodles, instant, chicken abalone, with seasoning, uncooked, Noodles, instant, chicken curry, with seasoning, uncooked, Noodles, instant, chicken tanmen, with seasoning, uncooked, Noodles, instant, dry, with seasoning, cooked, Noodles, instant, shrimp tanmen, with seasoning, uncooked, Noodles, instant, soup with seasoning, cooked, Noodles, laksa, thick, dried, Noodles, laksa, thick, wet, Noodles, rice, Noodles, sago, dried, Pad thai, Pasta, egg, boiled, without salt, Pasta, egg, dried, raw, Pasta, marinara, Pasta, spinach, boiled, without salt, Pasta, spinach, dried, raw, Pasta, white, boiled, Pasta, white, dried, Pasta, wholemeal, boiled, Pasta, wholemeal, dried, Plain Pesto Pasta, Plain aglio aglio, Popiah skin, Pork chop with spaghetti, Prata bomb, with margarine & sugar, Raw bee hoon, Raw spaghetti, Seafood tom yum ban mian, Spaghetti, white, raw, Spaghetti, wholemeal, boiled, Spaghetti, wholemeal, raw, Spaghetti, with added salt, boiled, Spaghetti, without added salt, boiled, Spinach noodles, dried, Suan la mian, Tang hoon, raw, Tanghoon, raw, Tortillas, ready-to-bake or -fry, flour, Udon, wet, Vegetable U-Mian, Vietnamese fresh spring roll, Vietnamese fried spring roll, Wanton skin, raw, Yaki udon with chicken, Yellow noodle, raw, soba, boiled]

<em>
    <h5>Biscuits(eg crackers):</h5>
    <ul>
        <li>Non-vegan:</li>
        <ul>
            <li>Biscuit, <strong>chocolate</strong></li>                                     
            <li>Biscuit, <strong>chocolate</strong> chip</li>
            <li>Biscuit, <strong>chocolate</strong> flavour, sandwiched with <strong>cream</strong> filling</li>
            <li>Biscuit, <strong>chocolate</strong>-coated</li>
            <li>Biscuit, <strong>chocolate</strong>-coated, <strong>cream</strong> filled</li>
            <li>Biscuit, finger <strong>cream</strong></li>
            <li>Biscuit, <strong>ovaltine</strong></li>
            <li>Biscuit, savoury, <strong>cheese</strong>-flavoured</li>
            <li>Biscuit, with <strong>cream</strong> filling</li>
            <li><strong>Butter</strong> cookies</li>
            <li><strong>Chocolate</strong> chip cookie</li>
            <li>Cracker, with <strong>cheese</strong> filling</li>
            <li>Ice <strong>cream</strong> cones, cake or wafer type</li>
            <li>Wafer, <strong>chocolate</strong></li>
        </ul>
        <li>Vegan:</li>
        <ul>
            <li>Biscuit, <strong>cream cracker</strong> (old)</li>
            <li>Biscuit, sandwiched with <strong>peanut butter</strong> filling</li>
            <li>Cookie, <strong>peanut butter</strong> filling, regular</li>
            <li><strong>Cream cracker</strong>, plain</li>
            <li><strong>Cream cracker</strong>, sugared</li>
            <li><strong>Cream cracker</strong>, wholemeal</li>
        </ul>
    </ul>
</em>

<h4>Update labels for "Cereals and cereal products" -> "Biscuits(eg crackers)"</h4>

In [19]:
FoodSubGroup = 'Biscuits(eg crackers)'

# Non-Vegan
LabelNames = ['Vegan']
Keywords = ['chocolate','cream','ovaltine','cheese','butter']
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

# Vegan
Keywords = ['cream cracker','peanut butter']
value = True
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,54,NaN,36,3920.0,3884
True,119,204,100,127,3370,3866,3920.0,3884,NaN,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,48,NaN,36,3920.0,3884
True,119,204,100,127,3370,3872,3920.0,3884,NaN,36

<em>
    <h5>Breads and rolls:</h5>
    <ul>
        <li>Non-vegan:</li>
        <ul>
            <li><strong>Beef</strong> banh mi</li>
            <li>Bread, <strong>chocolate</strong> chip</li>
            <li><strong>Butter</strong> roll</li>
            <li><strong>Butter</strong> sugar roll</li>
            <li><strong>Cheese</strong> and <strong>ham</strong> bun</li>
            <li><strong>Chicken</strong> banh mi</li>
            <li><strong>Chocolate cream</strong> roll</li>
            <li>French toast, made with low fat (2%) <strong>milk</strong></li>
            <li>Pizza, <strong>ham</strong> and pineapple, frozen, baked</li>
            <li><strong>Pork</strong> banh mi</li>
        </ul>
        <li>Vegan:</li>
        <ul>
            <li>Bread, <strong>butterscotch</strong>-flavoured</li>
        </ul>
        <li>Non-Vegetarian:</li>
        <ul>
            <li><strong>Beef</strong> banh mi</li>
            <li>Cheese and <strong>ham</strong> bun</li>
            <li><strong>Chicken</strong> banh mi</li>
            <li>Pizza, <strong>ham</strong> and pineapple, frozen, baked</li>
            <li><strong>Pork</strong> banh mi</li>
        </ul>
        <li>Non-Halal:</li>
        <ul>
            <li><strong>Beef</strong> banh mi</li>
            <li>Cheese and <strong>ham</strong> bun</li>
            <li><strong>Chicken</strong> banh mi</li>
            <li>Pizza, <strong>ham</strong> and pineapple, frozen, baked</li>
            <li><strong>Pork</strong> banh mi</li>
        </ul>
        <li>Contains beef:</li>
        <ul>
            <li><strong>Beef</strong> banh mi</li>
        </ul>
    </ul>
</em>

<h4>Update labels for "Cereals and cereal products" -> "Breads and rolls"</h4>

In [20]:
FoodSubGroup = 'Breads and rolls'

# Non-Vegan
LabelNames = ['Vegan']
Keywords = ['beef','chocolate','butter','cheese','ham','chicken','milk','pork']
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

# Vegan
Keywords = ['butterscotch']
value = True
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

# Non-Vegetarian
LabelNames = ['Vegetarian']
Keywords = ['beef', 'ham', 'chicken', 'pork']
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

# Non-Halal
LabelNames = ['Halal']
Keywords = ['beef', 'ham', 'chicken', 'pork']
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

# Beef
LabelNames = ['ContainsBeef']
Keywords = ['beef']
value = True
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,60,NaN,36,3920.0,3884
True,119,204,100,127,3370,3860,3920.0,3884,NaN,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,59,NaN,36,3920.0,3884
True,119,204,100,127,3370,3861,3920.0,3884,NaN,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,59,5,36,3920.0,3884
True,119,204,100,127,3370,3861,3915,3884,NaN,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,59,5,41,3920.0,3884
True,119,204,100,127,3370,3861,3915,3879,NaN,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,59,5,41,3919,3884
True,119,204,100,127,3370,3861,3915,3879,1,36

<em>
    <h5>Breakfast cereals:</h5>
    <ul>
        <li>Non-vegan:</li>
        <ul>
            <li><strong>3-in-1</strong> cereal</li>
            <li><strong>4 in 1</strong> brown rice cereal</li>
            <li>Granola, quaker, oat and <strong>honey</strong></li>
            <li><strong>Honey</strong> smacks, kelloggs</li>
        </ul>
    </ul>
</em>

<h4>Update labels for "Cereals and cereal products" -> "Breakfast cereals"</h4>

In [21]:
FoodSubGroup = 'Breakfast cereals'

# Non-Vegan
LabelNames = ['Vegan']
Keywords = ['[3-4][\s\S]in[\s\S]1','honey']
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,63,5,41,3919,3884
True,119,204,100,127,3370,3857,3915,3879,1,36

<em>
    <h5>Buns (baked and steamed,plain and with sweet fillings):</h5>
    <ul>
        <li>Non-vegan:</li>
        <ul>
            <li>Bun, <strong>chicken</strong> curry</li>
            <li>Bun, <strong>custard</strong></li> 
            <li>Bun, dried <strong>shrimp</strong></li>
            <li>Bun, <strong>pork</strong> floss</li>
            <li>Bun, <strong>sausage</strong></li>
            <li>Bun, <strong>susi</strong></li>
            <li>Cake, carrot, with <strong>cream cheese</strong> frosting</li>
            <li><strong>Cheese</strong> bun</li> 
            <li>Pow, <strong>char siew</strong>, steamed</li>
            <li>Pow, <strong>pork</strong></li>
            <li>Rolls, <strong>hamburger</strong> or <strong>hotdog</strong>, plain</li>
        </ul>
        <li>Non-Vegetarian:</li>
        <ul>
            <li>Bun, <strong>chicken</strong> curry</li>
            <li>Bun, dried <strong>shrimp</strong></li>
            <li>Bun, <strong>pork</strong> floss</li>
            <li>Bun, <strong>sausage</strong></li>
            <li>Bun, <strong>susi</strong></li>
            <li>Pow, <strong>char siew</strong>, steamed</li>
            <li>Pow, <strong>pork</strong></li>
            <li>Rolls, <strong>hamburger</strong> or <strong>hotdog</strong>, plain</li>
        </ul>
        <li>Non-Halal:</li>
        <ul>
            <li>Bun, <strong>chicken</strong> curry</li>
            <li>Bun, <strong>pork</strong> floss</li>
            <li>Bun, <strong>sausage</strong></li>
            <li>Bun, <strong>susi</strong></li>
            <li>Pow, <strong>char siew</strong>, steamed</li>
            <li>Pow, <strong>pork</strong></li>
            <li>Rolls, <strong>hamburger</strong> or <strong>hotdog</strong>, plain</li>
        </ul>
    </ul>
</em>

In [22]:
FoodSubGroup = 'Buns (baked and steamed,plain and with sweet fillings)'

# Non-Vegan
LabelNames = ['Vegan']
Keywords = ['chicken','custard','shrimp','pork','sausage','susi','cream','cheese','char siew','hamburger','hotdog']
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

# Non-Vegetarian
LabelNames = ['Vegetarian']
Keywords = ['chicken','shrimp','pork','sausage','susi','char siew','hamburger','hotdog']
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

# Non-Halal
LabelNames = ['Halal']
Keywords = ['chicken','pork','sausage','susi','char siew','hamburger','hotdog']
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,75,5,41,3919,3884
True,119,204,100,127,3370,3845,3915,3879,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,75,14,41,3919,3884
True,119,204,100,127,3370,3845,3906,3879,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,75,14,49,3919,3884
True,119,204,100,127,3370,3845,3906,3871,1,36

<em>
    <h5>Cakes and pastries(eg cakes mixes,croissants):</h5>
    <ul>
        <li>Non-vegan:</li>
        <ul>
            <li>Cake, <strong>chocolate</strong>, homemade</li>
            <li>Cake, sponge, plain, with jam and <strong>cream</strong>, commercial</li>
            <li>Castella cake, <strong>cheese</strong>-flavoured</li>
            <li><strong>Cheese</strong>cake, baked</li>
            <li><strong>Cheese</strong>cake, commercial</li>
            <li>Croissant, with <strong>egg</strong>, <strong>cheese</strong> and <strong>ham</strong></li>
            <li>Doughnut, <strong>chocolate</strong> coated</li>
            <li>Eclair, <strong>chocolate</strong>, commercial </li>
            <li><strong>Kimchi</strong> pancake</li>
            <li>Quiche, <strong>ham</strong></li>
            <li><strong>Sausage</strong> roll, individual size, ready to eat</li>
            <li>Tart, <strong>custard</strong>, individual, commercial</li>
        </ul>
        <li>Non-Vegetarian:</li>
        <ul>
            <li>Croissant, with egg, cheese and <strong>ham</strong></li>
            <li><strong>Kimchi</strong> pancake</li>
            <li>Quiche, <strong>ham</strong></li>
            <li><strong>Sausage</strong> roll, individual size, ready to eat</li>
        </ul>
        <li>Non-Halal:</li>
        <ul>
            <li>Croissant, with egg, cheese and <strong>ham</strong></li>
            <li>Quiche, <strong>ham</strong></li>
            <li><strong>Sausage</strong> roll, individual size, ready to eat</li>
        </ul>
    </ul>
</em>

In [23]:
FoodSubGroup = 'Cakes and pastries(eg cakes mixes,croissants)'

# Non-Vegan
LabelNames = ['Vegan']
Keywords = ['chocolate','cream','cheese','egg','ham','kimchi','sausage','custard']
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

# Non-Vegetarian
LabelNames = ['Vegetarian']
Keywords = ['ham','kimchi','sausage']
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

# Non-Halal
LabelNames = ['Halal']
Keywords = ['ham','sausage']
value = False
UpdateDataLabels(dataUpdate=data, foodGroups=FoodGroup, foodSubGroups=FoodSubGroup, labelNames=LabelNames, keyWords=Keywords,\
                 value=value)

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,87,14,49,3919,3884
True,119,204,100,127,3370,3833,3906,3871,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,87,18,49,3919,3884
True,119,204,100,127,3370,3833,3902,3871,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,87,18,52,3919,3884
True,119,204,100,127,3370,3833,3902,3868,1,36

In [24]:
display(dataDesc[(dataDesc['FoodGroup'] == 'CEREAL AND CEREAL PRODUCTS') & (dataDesc['FoodSubGroup'] == 'Grains and flours')]['FoodName'])

155     Barley, pearl, raw
209     Beef pho
475     Brown rice cooked
478     Brown rice porridge, plain
486     Bulgar, cooked
             ...
3601    Wheat, bran, unprocessed
3602    Wheat, whole grain
3613    White rice cooked
3614    White rice, raw
3652    Yellow corn grits, dry
Name: FoodName, Length: 86, dtype: object

In [25]:
display(dataDesc['FoodGroup'].unique())

array(['BEVERAGES', 'CEREAL AND CEREAL PRODUCTS',
       'MIXED ETHNIC DISHES, ANALYZED IN SINGAPORE',
       'HEALTHIER CHOICE SYMBOL (HCS) PRODUCTS', 'FAST FOODS',
       'FISH AND FISH PRODUCTS', 'OTHER MIXED ETHNIC DISHES',
       'SUGARS, SWEETS AND CONFECTIONERY', 'MISCELLANEOUS',
       'VEGETABLE AND VEGETABLE PRODUCTS', 'FRUIT AND FRUIT PRODUCTS',
       'MEAT AND MEAT PRODUCTS', 'NUTS AND SEEDS, PULSES AND PRODUCTS',
       'OILS AND FATS', 'MILK AND MILK PRODUCTS', 'EGG AND EGG PRODUCTS',
       'BREAKFAST FOODS', 'MAIN DISH'], dtype=object)

In [26]:
display(pd.DataFrame(dataDesc[dataDesc['FoodGroup'] == 'NUTS AND SEEDS, PULSES AND PRODUCTS'].\
                     groupby(['FoodSubGroup'])['FoodName'].nunique()))

                                            FoodName
FoodSubGroup
Nuts and products                           37
Pulses and products (eg beancurds, tempeh)  35
Seeds and products                          13

In [27]:
# Non-Vegan
FoodGroups_NonVegan=['FISH AND FISH PRODUCTS','MEAT AND MEAT PRODUCTS','MILK AND MILK PRODUCTS','EGG AND EGG PRODUCTS']
FoodGroups_Vegan=['VEGETABLE AND VEGETABLE PRODUCTS', 'FRUIT AND FRUIT PRODUCTS', 'NUTS AND SEEDS, PULSES AND PRODUCTS']
data.loc[data['FoodGroup'].isin(FoodGroups_NonVegan), 'Vegan'] = False;
display(data.select_dtypes(include='bool').apply(pd.value_counts))

# Non-Vegetarian
FoodGroups_NonVegetarian=['FISH AND FISH PRODUCTS', 'MEAT AND MEAT PRODUCTS']
FoodGroups_Vegetarian=['SUGARS, SWEETS AND CONFECTIONERY', 'VEGETABLE AND VEGETABLE PRODUCTS', 'FRUIT AND FRUIT PRODUCTS',
                       'NUTS AND SEEDS, PULSES AND PRODUCTS', 'MILK AND MILK PRODUCTS', 'EGG AND EGG PRODUCTS']
data.loc[data['FoodGroup'].isin(FoodGroups_NonVegetarian), 'Vegetarian'] = False;
display(data.select_dtypes(include='bool').apply(pd.value_counts))

# Non-Halal
FoodGroups_NonHalal=['MEAT AND MEAT PRODUCTS']
FoodGroups_Halal=['FISH AND FISH PRODUCTS', 'SUGARS, SWEETS AND CONFECTIONERY', 'VEGETABLE AND VEGETABLE PRODUCTS',
                  'FRUIT AND FRUIT PRODUCTS', 'NUTS AND SEEDS, PULSES AND PRODUCTS', 'MILK AND MILK PRODUCTS',
                  'EGG AND EGG PRODUCTS']
data.loc[data['FoodGroup'].isin(FoodGroups_NonHalal), 'Halal'] = False;
display(data.select_dtypes(include='bool').apply(pd.value_counts))

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,763,18,52,3919,3884
True,119,204,100,127,3370,3157,3902,3868,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,763,577,52,3919,3884
True,119,204,100,127,3370,3157,3343,3868,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,763,577,407,3919,3884
True,119,204,100,127,3370,3157,3343,3513,1,36

In [28]:
display(dataDesc['FoodSubGroup'].unique())

array(['Non-alcoholic beverages', 'Breakfast cereals', 'Beverages',
       'Beverages and sweetened drinks', 'Others',
       'All fast food outlets in alphabetical order',
       'Cereal based dishes', 'Shellfish and roe (eg all bivalves)',
       'Others (squids, algae, plankton etc)',
       'Fish and seafood based dishes',
       'Local cakes, desserts and snacks', 'Desserts (puddings, mousses)',
       'Vegetable based dishes', 'Pulses based dishes',
       'Stock cubes / flavourings, essence, yeast extracts,etc',
       'Alcoholic beverages', 'Herbs, spices, condiments',
       'Vegetables, non-leafy (eg sweetcorn, beansprouts)',
       'Sauces, gravies (manufactured)', 'Fish and roe',
       'Fruit and fruit products', 'Fresh fruits',
       'Processed fruits (canned, pickled, juices etc)',
       'Vegetables,leafy', 'Sauces, gravies and dressings',
       'Meat based dishes', 'Pork', 'Breads and rolls',
       'Baking / leavening agents',
       'Starchy roots,tubers,corms and stems', 'Grains and flours',
       'Pulses and products (eg beancurds, tempeh)',
       'Legumes (eg fresh beans,peas in pods)', 'Beef and veal',
       'Egg based dishes', 'Cereal & cereal products',
       'Crustaceans (eg crabs, lobsters, crayfish)',
       'Biscuits(eg crackers)', 'Confectionery (eg chocolates)',
       'Seeds and products',
       'Poultry (chicken, duck, turkey, pigeon etc)',
       "Pasta and noodles and 'dough wrappers'",
       'Buns (baked and steamed,plain and with sweet fillings)',
       'Animal fat (incl butter, ghee, lard, drippings, tallow etc)',
       'Milks', 'Salad dressings',
       'Cakes and pastries(eg cakes mixes,croissants)',
       'Duck eggs (eg salted, century)', 'Dairy products', 'Cheeses',
       'Nuts and products', 'Ice creams', 'Sauces and recipe mixes',
       'Sugars, syrups', 'Soups (manufactured)', 'Cream',
       'Non dairy creamer, whiteners',
       'Others (frog, venison, turtle etc)', 'Mutton and lamb',
       'Others (eg turtle eggs, egg substitutes)', 'Hen eggs',
       'Eggs & egg products', 'Quail eggs',
       'Yoghurts (yogurt drinks under 1102)',
       'Savory spreads/dips (salsa, promite)', 'Goat and kid',
       "Convenience meals or 'meal-type' products",
       'Jams, jellies, preserves', 'Fruit & fruit products',
       'Fats & oils', 'Soft margarine', 'Hard margarine', 'Seed oils',
       'Game (eg ostrich, emu, buffalo)', 'Seafood & seafood products',
       'Legumes, nuts and seeds & their products', 'Breakfast foods',
       'Main dish with meat'], dtype=object)

In [29]:
# Non-Vegan
FoodSubGroups_NonVegan=['Shellfish and roe (eg all bivalves)', 'Others (squids, algae, plankton etc)',
                        'Fish and seafood based dishes', 'Fish and roe', 'Meat based dishes', 'Pork', 'Beef and veal',
                        'Egg based dishes', 'Crustaceans (eg crabs, lobsters, crayfish)',
                        'Poultry (chicken, duck, turkey, pigeon etc)',
                        'Animal fat (incl butter, ghee, lard, drippings, tallow etc)',
                        'Milks', 'Duck eggs (eg salted, century)', 'Dairy products', 'Cheeses', 'Ice creams', 'Cream',
                        'Others (frog, venison, turtle etc)', 'Mutton and lamb', 'Others (eg turtle eggs, egg substitutes)',
                        'Hen eggs', 'Eggs & egg products', 'Quail eggs', 'Goat and kid', 'Game (eg ostrich, emu, buffalo)',
                        'Seafood & seafood products', 'Main dish with meat']
data.loc[(~data['FoodGroup'].isin(FoodGroups_NonVegan)) & (data['FoodSubGroup'].isin(FoodSubGroups_NonVegan)), 'Vegan'] = False;
display(data.select_dtypes(include='bool').apply(pd.value_counts))

# Non-Vegetarian
FoodSubGroups_NonVegetarian=['Shellfish and roe (eg all bivalves)', 'Others (squids, algae, plankton etc)',
                             'Fish and seafood based dishes', 'Fish and roe', 'Meat based dishes', 'Pork', 'Beef and veal',
                             'Crustaceans (eg crabs, lobsters, crayfish)', 'Poultry (chicken, duck, turkey, pigeon etc)',
                             'Animal fat (incl butter, ghee, lard, drippings, tallow etc)', 'Duck eggs (eg salted, century)',
                             'Others (frog, venison, turtle etc)', 'Mutton and lamb', 'Goat and kid',
                             'Game (eg ostrich, emu, buffalo)', 'Seafood & seafood products','Main dish with meat']
data.loc[(~data['FoodGroup'].isin(FoodGroups_NonVegetarian)) & (data['FoodSubGroup'].isin(FoodSubGroups_NonVegetarian)),
         'Vegetarian'] = False;
display(data.select_dtypes(include='bool').apply(pd.value_counts))

# Non-Halal
FoodSubGroups_NonHalal=['Alcoholic beverages', 'Meat based dishes', 'Pork', 'Beef and veal',
                        'Poultry (chicken, duck, turkey, pigeon etc)',
                        'Animal fat (incl butter, ghee, lard, drippings, tallow etc)', 'Duck eggs (eg salted, century)',
                        'Others (frog, venison, turtle etc)', 'Mutton and lamb', 'Goat and kid',
                        'Game (eg ostrich, emu, buffalo)']
data.loc[(~data['FoodGroup'].isin(FoodGroups_NonHalal)) & (data['FoodSubGroup'].isin(FoodSubGroups_NonHalal)), 'Halal'] = False;
display(data.select_dtypes(include='bool').apply(pd.value_counts))

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,1187,577,407,3919,3884
True,119,204,100,127,3370,2733,3343,3513,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,1187,975,407,3919,3884
True,119,204,100,127,3370,2733,2945,3513,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,1187,975,671,3919,3884
True,119,204,100,127,3370,2733,2945,3249,1,36

In [30]:
display(dataDesc['FoodName'].nunique())
display(dataDesc['FoodName'].unique())

3920

array(['2-in-1 coffee powder, with creamer',
       '2-in-1 coffee powder, with sugar',
       '3 in 1 ready to drink coffee instant', ...,
       'Spinach Stuffed Chicken',
       'Cottage Cheese and Black Bean Tuna Salad', 'Baked Chicken Breast'],
      dtype=object)

In [31]:
import nltk
nltk.download('stopwords')
nltk.download('words')
from nltk.corpus import stopwords, words
display(stopwords.words())
display(words.words())

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mokky\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\mokky\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

['إذ',
 'إذا',
 'إذما',
 'إذن',
 'أف',
 'أقل',
 'أكثر',
 'ألا',
 'إلا',
 'التي',
 'الذي',
 'الذين',
 'اللاتي',
 'اللائي',
 'اللتان',
 'اللتيا',
 'اللتين',
 'اللذان',
 'اللذين',
 'اللواتي',
 'إلى',
 'إليك',
 'إليكم',
 'إليكما',
 'إليكن',
 'أم',
 'أما',
 'أما',
 'إما',
 'أن',
 'إن',
 'إنا',
 'أنا',
 'أنت',
 'أنتم',
 'أنتما',
 'أنتن',
 'إنما',
 'إنه',
 'أنى',
 'أنى',
 'آه',
 'آها',
 'أو',
 'أولاء',
 'أولئك',
 'أوه',
 'آي',
 'أي',
 'أيها',
 'إي',
 'أين',
 'أين',
 'أينما',
 'إيه',
 'بخ',
 'بس',
 'بعد',
 'بعض',
 'بك',
 'بكم',
 'بكم',
 'بكما',
 'بكن',
 'بل',
 'بلى',
 'بما',
 'بماذا',
 'بمن',
 'بنا',
 'به',
 'بها',
 'بهم',
 'بهما',
 'بهن',
 'بي',
 'بين',
 'بيد',
 'تلك',
 'تلكم',
 'تلكما',
 'ته',
 'تي',
 'تين',
 'تينك',
 'ثم',
 'ثمة',
 'حاشا',
 'حبذا',
 'حتى',
 'حيث',
 'حيثما',
 'حين',
 'خلا',
 'دون',
 'ذا',
 'ذات',
 'ذاك',
 'ذان',
 'ذانك',
 'ذلك',
 'ذلكم',
 'ذلكما',
 'ذلكن',
 'ذه',
 'ذو',
 'ذوا',
 'ذواتا',
 'ذواتي',
 'ذي',
 'ذين',
 'ذينك',
 'ريث',
 'سوف',
 'سوى',
 'شتان',
 'عدا',
 'عسى',
 'عل',
 'على',
 'عليك',
 'عليه',
 'عما',
 'عن',
 'عند',
 'غير',
 'فإذا',
 'فإن',
 'فلا',
 'فمن',
 'في',
 'فيم',
 'فيما',
 'فيه',
 'فيها',
 'قد',
 'كأن',
 'كأنما',
 'كأي',
 'كأين',
 'كذا',
 'كذلك',
 'كل',
 'كلا',
 'كلاهما',
 'كلتا',
 'كلما',
 'كليكما',
 'كليهما',
 'كم',
 'كم',
 'كما',
 'كي',
 'كيت',
 'كيف',
 'كيفما',
 'لا',
 'لاسيما',
 'لدى',
 'لست',
 'لستم',
 'لستما',
 'لستن',
 'لسن',
 'لسنا',
 'لعل',
 'لك',
 'لكم',
 'لكما',
 'لكن',
 'لكنما',
 'لكي',
 'لكيلا',
 'لم',
 'لما',
 'لن',
 'لنا',
 'له',
 'لها',
 'لهم',
 'لهما',
 'لهن',
 'لو',
 'لولا',
 'لوما',
 'لي',
 'لئن',
 'ليت',
 'ليس',
 'ليسا',
 'ليست',
 'ليستا',
 'ليسوا',
 'ما',
 'ماذا',
 'متى',
 'مذ',
 'مع',
 'مما',
 'ممن',
 'من',
 'منه',
 'منها',
 'منذ',
 'مه',
 'مهما',
 'نحن',
 'نحو',
 'نعم',
 'ها',
 'هاتان',
 'هاته',
 'هاتي',
 'هاتين',
 'هاك',
 'هاهنا',
 'هذا',
 'هذان',
 'هذه',
 'هذي',
 'هذين',
 'هكذا',
 'هل',
 'هلا',
 'هم',
 'هما',
 'هن',
 'هنا',
 'هناك',
 'هنالك',
 'هو',
 'هؤلاء',
 'هي',
 'هيا',
 'هيت',
 'هيهات',
 'والذي',
 'والذين',
 'وإذ',
 'وإذا',
 'وإن',
 'ولا',
 'ولكن',
 'ولو',
 'وما',
 'ومن',
 'وهو',
 'يا',
 'a',
 'ad',
 'altı',
 'altmış',
 'amma',
 'arasında',
 'artıq',
 'ay',
 'az',
 'bax',
 'belə',
 'bəli',
 'bəlkə',
 'beş',
 'bəy',
 'bəzən',
 'bəzi',
 'bilər',
 'bir',
 'biraz',
 'biri',
 'birşey',
 'biz',
 'bizim',
 'bizlər',
 'bu',
 'buna',
 'bundan',
 'bunların',
 'bunu',
 'bunun',
 'buradan',
 'bütün',
 'ci',
 'cı',
 'çox',
 'cu',
 'cü',
 'çünki',
 'da',
 'daha',
 'də',
 'dedi',
 'dək',
 'dən',
 'dəqiqə',
 'deyil',
 'dir',
 'doqquz',
 'doqsan',
 'dörd',
 'düz',
 'ə',
 'edən',
 'edir',
 'əgər',
 'əlbəttə',
 'elə',
 'əlli',
 'ən',
 'əslində',
 'et',
 'etdi',
 'etmə',
 'etmək',
 'faiz',
 'gilə',
 'görə',
 'ha',
 'haqqında',
 'harada',
 'hə',
 'heç',
 'həm',
 'həmin',
 'həmişə',
 'hər',
 'ı',
 'idi',
 'iki',
 'il',
 'ildə',
 'ilə',
 'ilk',
 'in',
 'indi',
 'isə',
 'istifadə',
 'iyirmi',
 'ki',
 'kim',
 'kimə',
 'kimi',
 'lakin',
 'lap',
 'məhz',
 'mən',
 'mənə',
 'mirşey',
 'nə',
 'nəhayət',
 'niyə',
 'o',
 'obirisi',
 'of',
 'olan',
 'olar',
 'olaraq',
 'oldu',
 'olduğu',
 'olmadı',
 'olmaz',
 'olmuşdur',
 'olsun',
 'olur',
 'on',
 'ona',
 'ondan',
 'onlar',
 'onlardan',
 'onların ',
 'onsuzda',
 'onu',
 'onun',
 'oradan',
 'otuz',
 'öz',
 'özü',
 'qarşı',
 'qədər',
 'qırx',
 'saat',
 'sadəcə',
 'saniyə',
 'səhv',
 'səkkiz',
 'səksən',
 'sən',
 'sənə',
 'sənin',
 'siz',
 'sizin',
 'sizlər',
 'sonra',
 'təəssüf',
 'ü',
 'üç',
 'üçün',
 'var',
 'və',
 'xan',
 'xanım',
 'xeyr',
 'ya',
 'yalnız',
 'yaxşı',
 'yeddi',
 'yenə',
 'yəni',
 'yetmiş',
 'yox',
 'yoxdur',
 'yoxsa',
 'yüz',
 'zamanog',
 'i',
 'jeg',
 'det',
 'at',
 'en',
 'den',
 'til',
 'er',
 'som',
 'på',
 'de',
 'med',
 'han',
 'af',
 'for',
 'ikke',
 'der',
 'var',
 'mig',
 'sig',
 'men',
 'et',
 'har',
 'om',
 'vi',
 'min',
 'havde',
 'ham',
 'hun',
 'nu',
 'over',
 'da',
 'fra',
 'du',
 'ud',
 'sin',
 'dem',
 'os',
 'op',
 'man',
 'hans',
 'hvor',
 'eller',
 'hvad',
 'skal',
 'selv',
 'her',
 'alle',
 'vil',
 'blev',
 'kunne',
 'ind',
 'når',
 'være',
 'dog',
 'noget',
 'ville',
 'jo',
 'deres',
 'efter',
 'ned',
 'skulle',
 'denne',
 'end',
 'dette',
 'mit',
 'også',
 'under',
 'have',
 'dig',
 'anden',
 'hende',
 'mine',
 'alt',
 'meget',
 'sit',
 'sine',
 'vor',
 'mod',
 'disse',
 'hvis',
 'din',
 'nogle',
 'hos',
 'blive',
 'mange',
 'ad',
 'bliver',
 'hendes',
 'været',
 'thi',
 'jer',
 'sådan',
 'de',
 'en',
 'van',
 'ik',
 'te',
 'dat',
 'die',
 'in',
 'een',
 'hij',
 'het',
 'niet',
 'zijn',
 'is',
 'was',
 'op',
 'aan',
 'met',
 'als',
 'voor',
 'had',
 'er',
 'maar',
 'om',
 'hem',
 'dan',
 'zou',
 'of',
 'wat',
 'mijn',
 'men',
 'dit',
 'zo',
 'door',
 'over',
 'ze',
 'zich',
 'bij',
 'ook',
 'tot',
 'je',
 'mij',
 'uit',
 'der',
 'daar',
 'haar',
 'naar',
 'heb',
 'hoe',
 'heeft',
 'hebben',
 'deze',
 'u',
 'want',
 'nog',
 'zal',
 'me',
 'zij',
 'nu',
 'ge',
 'geen',
 'omdat',
 'iets',
 'worden',
 'toch',
 'al',
 'waren',
 'veel',
 'meer',
 'doen',
 'toen',
 'moet',
 'ben',
 'zonder',
 'kan',
 'hun',
 'dus',
 'alles',
 'onder',
 'ja',
 'eens',
 'hier',
 'wie',
 'werd',
 'altijd',
 'doch',
 'wordt',
 'wezen',
 'kunnen',
 'ons',
 'zelf',
 'tegen',
 'na',
 'reeds',
 'wil',
 'kon',
 'niets',
 'uw',
 'iemand',
 'geweest',
 'andere',
 'i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'olla',
 'olen',
 'olet',
 'on',
 'olemme',
 'olette',
 'ovat',
 'ole',
 'oli',
 'olisi',
 'olisit',
 'olisin',
 'olisimme',
 'olisitte',
 'olisivat',
 'olit',
 'olin',
 'olimme',
 'olitte',
 'olivat',
 'ollut',
 'olleet',
 'en',
 'et',
 'ei',
 'emme',
 'ette',
 'eivät',
 'minä',
 'minun',
 'minut',
 'minua',
 'minussa',
 'minusta',
 'minuun',
 'minulla',
 'minulta',
 'minulle',
 'sinä',
 'sinun',
 'sinut',
 'sinua',
 'sinussa',
 'sinusta',
 'sinuun',
 'sinulla',
 'sinulta',
 'sinulle',
 'hän',
 'hänen',
 'hänet',
 'häntä',
 'hänessä',
 'hänestä',
 'häneen',
 'hänellä',
 'häneltä',
 'hänelle',
 'me',
 'meidän',
 'meidät',
 'meitä',
 'meissä',
 'meistä',
 'meihin',
 'meillä',
 'meiltä',
 'meille',
 'te',
 'teidän',
 'teidät',
 'teitä',
 'teissä',
 'teistä',
 'teihin',
 'teillä',
 'teiltä',
 'teille',
 'he',
 'heidän',
 'heidät',
 'heitä',
 'heissä',
 'heistä',
 'heihin',
 'heillä',
 'heiltä',
 'heille',
 'tämä',
 'tämän',
 'tätä',
 'tässä',
 'tästä',
 'tähän',
 'tallä',
 'tältä',
 'tälle',
 'tänä',
 'täksi',
 'tuo',
 'tuon',
 'tuotä',
 'tuossa',
 'tuosta',
 'tuohon',
 'tuolla',
 'tuolta',
 'tuolle',
 'tuona',
 'tuoksi',
 'se',
 'sen',
 'sitä',
 'siinä',
 'siitä',
 'siihen',
 'sillä',
 'siltä',
 'sille',
 'sinä',
 'siksi',
 'nämä',
 'näiden',
 'näitä',
 'näissä',
 'näistä',
 'näihin',
 'näillä',
 'näiltä',
 'näille',
 'näinä',
 'näiksi',
 'nuo',
 'noiden',
 'noita',
 'noissa',
 'noista',
 'noihin',
 'noilla',
 'noilta',
 'noille',
 'noina',
 'noiksi',
 'ne',
 'niiden',
 'niitä',
 'niissä',
 'niistä',
 'niihin',
 'niillä',
 'niiltä',
 'niille',
 'niinä',
 'niiksi',
 'kuka',
 'kenen',
 'kenet',
 'ketä',
 'kenessä',
 'kenestä',
 'keneen',
 'kenellä',
 'keneltä',
 'kenelle',
 'kenenä',
 'keneksi',
 'ketkä',
 'keiden',
 'ketkä',
 'keitä',
 'keissä',
 'keistä',
 'keihin',
 'keillä',
 'keiltä',
 'keille',
 'keinä',
 'keiksi',
 'mikä',
 'minkä',
 'minkä',
 'mitä',
 'missä',
 'mistä',
 'mihin',
 'millä',
 'miltä',
 'mille',
 'minä',
 'miksi',
 'mitkä',
 'joka',
 'jonka',
 'jota',
 'jossa',
 'josta',
 'johon',
 'jolla',
 'jolta',
 'jolle',
 'jona',
 'joksi',
 'jotka',
 'joiden',
 'joita',
 'joissa',
 'joista',
 'joihin',
 'joilla',
 'joilta',
 'joille',
 'joina',
 'joiksi',
 'että',
 ...]

['A',
 'a',
 'aa',
 'aal',
 'aalii',
 'aam',
 'Aani',
 'aardvark',
 'aardwolf',
 'Aaron',
 'Aaronic',
 'Aaronical',
 'Aaronite',
 'Aaronitic',
 'Aaru',
 'Ab',
 'aba',
 'Ababdeh',
 'Ababua',
 'abac',
 'abaca',
 'abacate',
 'abacay',
 'abacinate',
 'abacination',
 'abaciscus',
 'abacist',
 'aback',
 'abactinal',
 'abactinally',
 'abaction',
 'abactor',
 'abaculus',
 'abacus',
 'Abadite',
 'abaff',
 'abaft',
 'abaisance',
 'abaiser',
 'abaissed',
 'abalienate',
 'abalienation',
 'abalone',
 'Abama',
 'abampere',
 'abandon',
 'abandonable',
 'abandoned',
 'abandonedly',
 'abandonee',
 'abandoner',
 'abandonment',
 'Abanic',
 'Abantes',
 'abaptiston',
 'Abarambo',
 'Abaris',
 'abarthrosis',
 'abarticular',
 'abarticulation',
 'abas',
 'abase',
 'abased',
 'abasedly',
 'abasedness',
 'abasement',
 'abaser',
 'Abasgi',
 'abash',
 'abashed',
 'abashedly',
 'abashedness',
 'abashless',
 'abashlessly',
 'abashment',
 'abasia',
 'abasic',
 'abask',
 'Abassin',
 'abastardize',
 'abatable',
 'abate',
 'abatement',
 'abater',
 'abatis',
 'abatised',
 'abaton',
 'abator',
 'abattoir',
 'Abatua',
 'abature',
 'abave',
 'abaxial',
 'abaxile',
 'abaze',
 'abb',
 'Abba',
 'abbacomes',
 'abbacy',
 'Abbadide',
 'abbas',
 'abbasi',
 'abbassi',
 'Abbasside',
 'abbatial',
 'abbatical',
 'abbess',
 'abbey',
 'abbeystede',
 'Abbie',
 'abbot',
 'abbotcy',
 'abbotnullius',
 'abbotship',
 'abbreviate',
 'abbreviately',
 'abbreviation',
 'abbreviator',
 'abbreviatory',
 'abbreviature',
 'Abby',
 'abcoulomb',
 'abdal',
 'abdat',
 'Abderian',
 'Abderite',
 'abdest',
 'abdicable',
 'abdicant',
 'abdicate',
 'abdication',
 'abdicative',
 'abdicator',
 'Abdiel',
 'abditive',
 'abditory',
 'abdomen',
 'abdominal',
 'Abdominales',
 'abdominalian',
 'abdominally',
 'abdominoanterior',
 'abdominocardiac',
 'abdominocentesis',
 'abdominocystic',
 'abdominogenital',
 'abdominohysterectomy',
 'abdominohysterotomy',
 'abdominoposterior',
 'abdominoscope',
 'abdominoscopy',
 'abdominothoracic',
 'abdominous',
 'abdominovaginal',
 'abdominovesical',
 'abduce',
 'abducens',
 'abducent',
 'abduct',
 'abduction',
 'abductor',
 'Abe',
 'abeam',
 'abear',
 'abearance',
 'abecedarian',
 'abecedarium',
 'abecedary',
 'abed',
 'abeigh',
 'Abel',
 'abele',
 'Abelia',
 'Abelian',
 'Abelicea',
 'Abelite',
 'abelite',
 'Abelmoschus',
 'abelmosk',
 'Abelonian',
 'abeltree',
 'Abencerrages',
 'abenteric',
 'abepithymia',
 'Aberdeen',
 'aberdevine',
 'Aberdonian',
 'Aberia',
 'aberrance',
 'aberrancy',
 'aberrant',
 'aberrate',
 'aberration',
 'aberrational',
 'aberrator',
 'aberrometer',
 'aberroscope',
 'aberuncator',
 'abet',
 'abetment',
 'abettal',
 'abettor',
 'abevacuation',
 'abey',
 'abeyance',
 'abeyancy',
 'abeyant',
 'abfarad',
 'abhenry',
 'abhiseka',
 'abhominable',
 'abhor',
 'abhorrence',
 'abhorrency',
 'abhorrent',
 'abhorrently',
 'abhorrer',
 'abhorrible',
 'abhorring',
 'Abhorson',
 'abidal',
 'abidance',
 'abide',
 'abider',
 'abidi',
 'abiding',
 'abidingly',
 'abidingness',
 'Abie',
 'Abies',
 'abietate',
 'abietene',
 'abietic',
 'abietin',
 'Abietineae',
 'abietineous',
 'abietinic',
 'Abiezer',
 'Abigail',
 'abigail',
 'abigailship',
 'abigeat',
 'abigeus',
 'abilao',
 'ability',
 'abilla',
 'abilo',
 'abintestate',
 'abiogenesis',
 'abiogenesist',
 'abiogenetic',
 'abiogenetical',
 'abiogenetically',
 'abiogenist',
 'abiogenous',
 'abiogeny',
 'abiological',
 'abiologically',
 'abiology',
 'abiosis',
 'abiotic',
 'abiotrophic',
 'abiotrophy',
 'Abipon',
 'abir',
 'abirritant',
 'abirritate',
 'abirritation',
 'abirritative',
 'abiston',
 'Abitibi',
 'abiuret',
 'abject',
 'abjectedness',
 'abjection',
 'abjective',
 'abjectly',
 'abjectness',
 'abjoint',
 'abjudge',
 'abjudicate',
 'abjudication',
 'abjunction',
 'abjunctive',
 'abjuration',
 'abjuratory',
 'abjure',
 'abjurement',
 'abjurer',
 'abkar',
 'abkari',
 'Abkhas',
 'Abkhasian',
 'ablach',
 'ablactate',
 'ablactation',
 'ablare',
 'ablastemic',
 'ablastous',
 'ablate',
 'ablation',
 'ablatitious',
 'ablatival',
 'ablative',
 'ablator',
 'ablaut',
 'ablaze',
 'able',
 'ableeze',
 'ablegate',
 'ableness',
 'ablepharia',
 'ablepharon',
 'ablepharous',
 'Ablepharus',
 'ablepsia',
 'ableptical',
 'ableptically',
 'abler',
 'ablest',
 'ablewhackets',
 'ablins',
 'abloom',
 'ablow',
 'ablude',
 'abluent',
 'ablush',
 'ablution',
 'ablutionary',
 'abluvion',
 'ably',
 'abmho',
 'Abnaki',
 'abnegate',
 'abnegation',
 'abnegative',
 'abnegator',
 'Abner',
 'abnerval',
 'abnet',
 'abneural',
 'abnormal',
 'abnormalism',
 'abnormalist',
 'abnormality',
 'abnormalize',
 'abnormally',
 'abnormalness',
 'abnormity',
 'abnormous',
 'abnumerable',
 'Abo',
 'aboard',
 'Abobra',
 'abode',
 'abodement',
 'abody',
 'abohm',
 'aboil',
 'abolish',
 'abolisher',
 'abolishment',
 'abolition',
 'abolitionary',
 'abolitionism',
 'abolitionist',
 'abolitionize',
 'abolla',
 'aboma',
 'abomasum',
 'abomasus',
 'abominable',
 'abominableness',
 'abominably',
 'abominate',
 'abomination',
 'abominator',
 'abomine',
 'Abongo',
 'aboon',
 'aborad',
 'aboral',
 'aborally',
 'abord',
 'aboriginal',
 'aboriginality',
 'aboriginally',
 'aboriginary',
 'aborigine',
 'abort',
 'aborted',
 'aborticide',
 'abortient',
 'abortifacient',
 'abortin',
 'abortion',
 'abortional',
 'abortionist',
 'abortive',
 'abortively',
 'abortiveness',
 'abortus',
 'abouchement',
 'abound',
 'abounder',
 'abounding',
 'aboundingly',
 'about',
 'abouts',
 'above',
 'aboveboard',
 'abovedeck',
 'aboveground',
 'aboveproof',
 'abovestairs',
 'abox',
 'abracadabra',
 'abrachia',
 'abradant',
 'abrade',
 'abrader',
 'Abraham',
 'Abrahamic',
 'Abrahamidae',
 'Abrahamite',
 'Abrahamitic',
 'abraid',
 'Abram',
 'Abramis',
 'abranchial',
 'abranchialism',
 'abranchian',
 'Abranchiata',
 'abranchiate',
 'abranchious',
 'abrasax',
 'abrase',
 'abrash',
 'abrasiometer',
 'abrasion',
 'abrasive',
 'abrastol',
 'abraum',
 'abraxas',
 'abreact',
 'abreaction',
 'abreast',
 'abrenounce',
 'abret',
 'abrico',
 'abridge',
 'abridgeable',
 'abridged',
 'abridgedly',
 'abridger',
 'abridgment',
 'abrim',
 'abrin',
 'abristle',
 'abroach',
 'abroad',
 'Abrocoma',
 'abrocome',
 'abrogable',
 'abrogate',
 'abrogation',
 'abrogative',
 'abrogator',
 'Abroma',
 'Abronia',
 'abrook',
 'abrotanum',
 'abrotine',
 'abrupt',
 'abruptedly',
 'abruption',
 'abruptly',
 'abruptness',
 'Abrus',
 'Absalom',
 'absampere',
 'Absaroka',
 'absarokite',
 'abscess',
 'abscessed',
 'abscession',
 'abscessroot',
 'abscind',
 'abscise',
 'abscision',
 'absciss',
 'abscissa',
 'abscissae',
 'abscisse',
 'abscission',
 'absconce',
 'abscond',
 'absconded',
 'abscondedly',
 'abscondence',
 'absconder',
 'absconsa',
 'abscoulomb',
 'absence',
 'absent',
 'absentation',
 'absentee',
 'absenteeism',
 'absenteeship',
 'absenter',
 'absently',
 'absentment',
 'absentmindedly',
 'absentness',
 'absfarad',
 'abshenry',
 'Absi',
 'absinthe',
 'absinthial',
 'absinthian',
 'absinthiate',
 'absinthic',
 'absinthin',
 'absinthine',
 'absinthism',
 'absinthismic',
 'absinthium',
 'absinthol',
 'absit',
 'absmho',
 'absohm',
 'absolute',
 'absolutely',
 'absoluteness',
 'absolution',
 'absolutism',
 'absolutist',
 'absolutistic',
 'absolutistically',
 'absolutive',
 'absolutization',
 'absolutize',
 'absolutory',
 'absolvable',
 'absolvatory',
 'absolve',
 'absolvent',
 'absolver',
 'absolvitor',
 'absolvitory',
 'absonant',
 'absonous',
 'absorb',
 'absorbability',
 'absorbable',
 'absorbed',
 'absorbedly',
 'absorbedness',
 'absorbefacient',
 'absorbency',
 'absorbent',
 'absorber',
 'absorbing',
 'absorbingly',
 'absorbition',
 'absorpt',
 'absorptance',
 'absorptiometer',
 'absorptiometric',
 'absorption',
 'absorptive',
 'absorptively',
 'absorptiveness',
 'absorptivity',
 'absquatulate',
 'abstain',
 'abstainer',
 'abstainment',
 'abstemious',
 'abstemiously',
 'abstemiousness',
 'abstention',
 'abstentionist',
 'abstentious',
 'absterge',
 'abstergent',
 'abstersion',
 'abstersive',
 'abstersiveness',
 'abstinence',
 'abstinency',
 'abstinent',
 'abstinential',
 'abstinently',
 'abstract',
 'abstracted',
 'abstractedly',
 'abstractedness',
 'abstracter',
 'abstraction',
 'abstractional',
 'abstractionism',
 'abstractionist',
 'abstractitious',
 'abstractive',
 'abstractively',
 'abstractiveness',
 'abstractly',
 'abstractness',
 'abstractor',
 'abstrahent',
 'abstricted',
 'abstriction',
 'abstruse',
 'abstrusely',
 'abstruseness',
 'abstrusion',
 'abstrusity',
 'absume',
 'absumption',
 'absurd',
 'absurdity',
 'absurdly',
 'absurdness',
 'absvolt',
 'Absyrtus',
 'abterminal',
 'abthain',
 'abthainrie',
 'abthainry',
 'abthanage',
 'Abu',
 'abu',
 'abucco',
 'abulia',
 'abulic',
 'abulomania',
 'abuna',
 'abundance',
 'abundancy',
 'abundant',
 'Abundantia',
 'abundantly',
 'abura',
 'aburabozu',
 'aburban',
 'aburst',
 'aburton',
 'abusable',
 'abuse',
 'abusedly',
 'abusee',
 'abuseful',
 'abusefully',
 'abusefulness',
 'abuser',
 'abusion',
 'abusious',
 'abusive',
 'abusively',
 'abusiveness',
 'abut',
 'Abuta',
 'Abutilon',
 'abutment',
 'abuttal',
 'abutter',
 'abutting',
 'abuzz',
 'abvolt',
 'abwab',
 'aby',
 'abysm',
 'abysmal',
 'abysmally',
 'abyss',
 'abyssal',
 'Abyssinian',
 'abyssobenthonic',
 'abyssolith',
 'abyssopelagic',
 'acacatechin',
 'acacatechol',
 'acacetin',
 'Acacia',
 'Acacian',
 'acaciin',
 'acacin',
 'academe',
 'academial',
 'academian',
 'Academic',
 'academic',
 'academical',
 'academically',
 'academicals',
 'academician',
 'academicism',
 'academism',
 'academist',
 'academite',
 'academization',
 'academize',
 'Academus',
 'academy',
 'Acadia',
 'acadialite',
 'Acadian',
 'Acadie',
 'Acaena',
 'acajou',
 'acaleph',
 'Acalepha',
 'Acalephae',
 'acalephan',
 'acalephoid',
 'acalycal',
 'acalycine',
 'acalycinous',
 'acalyculate',
 'Acalypha',
 'Acalypterae',
 'Acalyptrata',
 'Acalyptratae',
 'acalyptrate',
 'Acamar',
 'acampsia',
 'acana',
 'acanaceous',
 'acanonical',
 'acanth',
 'acantha',
 'Acanthaceae',
 'acanthaceous',
 'acanthad',
 'Acantharia',
 'Acanthia',
 'acanthial',
 'acanthin',
 'acanthine',
 'acanthion',
 'acanthite',
 'acanthocarpous',
 'Acanthocephala',
 'acanthocephalan',
 'Acanthocephali',
 'acanthocephalous',
 'Acanthocereus',
 'acanthocladous',
 'Acanthodea',
 'acanthodean',
 'Acanthodei',
 'Acanthodes',
 'acanthodian',
 'Acanthodidae',
 'Acanthodii',
 'Acanthodini',
 'acanthoid',
 'Acantholimon',
 'acanthological',
 'acanthology',
 'acantholysis',
 'acanthoma',
 'Acanthomeridae',
 'acanthon',
 'Acanthopanax',
 'Acanthophis',
 'acanthophorous',
 'acanthopod',
 'acanthopodous',
 'acanthopomatous',
 'acanthopore',
 'acanthopteran',
 'Acanthopteri',
 'acanthopterous',
 'acanthopterygian',
 'Acanthopterygii',
 'acanthosis',
 'acanthous',
 'Acanthuridae',
 'Acanthurus',
 'acanthus',
 'acapnia',
 'acapnial',
 'acapsular',
 'acapu',
 'acapulco',
 'acara',
 'Acarapis',
 'acardia',
 'acardiac',
 'acari',
 'acarian',
 'acariasis',
 'acaricidal',
 'acaricide',
 'acarid',
 'Acarida',
 'Acaridea',
 'acaridean',
 'acaridomatium',
 'acariform',
 'Acarina',
 'acarine',
 'acarinosis',
 'acarocecidium',
 'acarodermatitis',
 'acaroid',
 'acarol',
 'acarologist',
 'acarology',
 'acarophilous',
 'acarophobia',
 'acarotoxic',
 'acarpelous',
 'acarpous',
 'Acarus',
 'Acastus',
 'acatalectic',
 'acatalepsia',
 'acatalepsy',
 'acataleptic',
 'acatallactic',
 'acatamathesia',
 'acataphasia',
 'acataposis',
 'acatastasia',
 'acatastatic',
 'acate',
 'acategorical',
 'acatery',
 'acatharsia',
 'acatharsy',
 'acatholic',
 'acaudal',
 'acaudate',
 'acaulescent',
 'acauline',
 'acaulose',
 'acaulous',
 'acca',
 'accede',
 'accedence',
 'acceder',
 'accelerable',
 'accelerando',
 'accelerant',
 'accelerate',
 'accelerated',
 'acceleratedly',
 'acceleration',
 'accelerative',
 'accelerator',
 'acceleratory',
 'accelerograph',
 'accelerometer',
 'accend',
 'accendibility',
 'accendible',
 'accension',
 'accensor',
 'accent',
 'accentless',
 'accentor',
 'accentuable',
 'accentual',
 'accentuality',
 'accentually',
 'accentuate',
 'accentuation',
 'accentuator',
 'accentus',
 'accept',
 'acceptability',
 'acceptable',
 'acceptableness',
 'acceptably',
 'acceptance',
 'acceptancy',
 'acceptant',
 'acceptation',
 'accepted',
 'acceptedly',
 'accepter',
 'acceptilate',
 'acceptilation',
 'acception',
 'acceptive',
 'acceptor',
 'acceptress',
 'accerse',
 'accersition',
 'accersitor',
 'access',
 'accessarily',
 'accessariness',
 'accessary',
 'accessaryship',
 'accessibility',
 'accessible',
 'accessibly',
 'accession',
 'accessional',
 'accessioner',
 'accessive',
 'accessively',
 'accessless',
 'accessorial',
 'accessorily',
 'accessoriness',
 'accessorius',
 'accessory',
 'accidence',
 'accidency',
 'accident',
 'accidental',
 'accidentalism',
 'accidentalist',
 'accidentality',
 'accidentally',
 'accidentalness',
 'accidented',
 'accidential',
 'accidentiality',
 'accidently',
 'accidia',
 'accidie',
 'accinge',
 'accipient',
 'Accipiter',
 'accipitral',
 'accipitrary',
 'Accipitres',
 'accipitrine',
 'accismus',
 'accite',
 'acclaim',
 'acclaimable',
 'acclaimer',
 'acclamation',
 'acclamator',
 'acclamatory',
 'acclimatable',
 'acclimatation',
 'acclimate',
 'acclimatement',
 'acclimation',
 'acclimatizable',
 'acclimatization',
 'acclimatize',
 'acclimatizer',
 'acclimature',
 'acclinal',
 'acclinate',
 'acclivitous',
 'acclivity',
 'acclivous',
 'accloy',
 'accoast',
 'accoil',
 'accolade',
 'accoladed',
 'accolated',
 'accolent',
 'accolle',
 'accombination',
 'accommodable',
 'accommodableness',
 'accommodate',
 'accommodately',
 'accommodateness',
 'accommodating',
 'accommodatingly',
 'accommodation',
 'accommodational',
 'accommodative',
 'accommodativeness',
 'accommodator',
 'accompanier',
 'accompaniment',
 'accompanimental',
 'accompanist',
 'accompany',
 'accompanyist',
 'accompletive',
 'accomplice',
 'accompliceship',
 'accomplicity',
 'accomplish',
 'accomplishable',
 'accomplished',
 'accomplisher',
 'accomplishment',
 'accomplisht',
 'accompt',
 'accord',
 'accordable',
 'accordance',
 'accordancy',
 'accordant',
 ...]

In [32]:
criteria = (~data['FoodGroup'].isin(FoodGroups_NonVegan+['BEVERAGES'])) &\
            (~data['FoodGroup'].isin(FoodGroups_Vegan)) &\
            (~data['FoodSubGroup'].isin(FoodSubGroups_NonVegan))
#display(data.loc[criteria, 'FoodSubGroup'].value_counts())
foodWords=data.loc[criteria, 'FoodName'].str.lower().str.split(pat='[^a-zA-Z\d]', expand=True).stack().value_counts()
print(f'Food Words ->\n{foodWords.describe()}')
foodWords = foodWords.loc[(~foodWords.index.isin(stopwords.words())) & (foodWords.index != '')]
print(f'\nFood Words no stop words ->\n{foodWords.describe()}')

Food Words ->
count    1638.000000
mean     6.242369
std      49.679085
min      1.000000
25%      1.000000
50%      2.000000
75%      4.000000
max      1947.000000
dtype: float64

Food Words no stop words ->
count    1563.000000
mean     4.802303
std      9.919778
min      1.000000
25%      1.000000
50%      2.000000
75%      4.000000
max      149.000000
dtype: float64

In [33]:
display(list(foodWords[foodWords.index.str.startswith('z')].index))

['zinger', 'zazzle', 'zucchini', 'zha']

<h5>Use this cell to get full name</h5>

In [34]:
checkName = 'zazzle'
#data[data['FoodName'].str.lower().str.startswith(checkName)]
data[data['FoodName'].str.lower().str.contains(checkName)]

,FoodName,FoodGroup,FoodSubGroup,PerServingHouseholdMeasure,CarbohydrateAmount_g,CholesterolAmount_mg,DietaryFibreAmount_g,EnergyAmount_kcal,GlycemicIndexAmount,ProteinAmount_g,...,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
1026,"Curry Zazzle Baked Rice, Pizzahut",FAST FOODS,All fast food outlets in alphabetical order,Whole (340g),68.99,27.2,6.09,564.4,NaN,20.4,...,False,True,False,False,False,True,True,True,False,False

<h5>Find halal food</h5>

In [35]:
criteria = (~data['FoodGroup'].isin(FoodGroups_NonHalal+['BEVERAGES'])) &\
            (~data['FoodGroup'].isin(FoodGroups_Halal)) &\
            (~data['FoodSubGroup'].isin(FoodSubGroups_NonHalal))
foodWords=data.loc[criteria, 'FoodName'].str.lower().str.split(pat='[^a-zA-Z\d]', expand=True).stack().value_counts()
print(f'Food Words ->\n{foodWords.describe()}')
foodWords = foodWords.loc[(~foodWords.index.isin(stopwords.words())) & (foodWords.index != '') &
                          ~foodWords.index.isin(words.words())]
print(f'\nFood Words no stop words and non-English words ->\n{foodWords.describe()}')

Food Words ->
count    1644.000000
mean     6.419708
std      50.101227
min      1.000000
25%      1.000000
50%      2.000000
75%      4.000000
max      1956.000000
dtype: float64

Food Words no stop words and non-English words ->
count    734.000000
mean     2.952316
std      5.269456
min      1.000000
25%      1.000000
50%      1.000000
75%      3.000000
max      67.000000
dtype: float64

In [36]:
display(list(foodWords[foodWords.index.str.startswith('z')].index))

['zinger', 'zha', 'zazzle']

<h5>Use this cell to get full name</h5>

In [37]:
checkName = 'xanthan'
#data[data['FoodName'].str.lower().str.startswith(checkName)]
data[data['FoodName'].str.lower().str.contains(checkName)]

,FoodName,FoodGroup,FoodSubGroup,PerServingHouseholdMeasure,CarbohydrateAmount_g,CholesterolAmount_mg,DietaryFibreAmount_g,EnergyAmount_kcal,GlycemicIndexAmount,ProteinAmount_g,...,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
1529,"Gum, xanthan",MISCELLANEOUS,"Stock cubes / flavourings, essence, yeast extracts,etc",Gram (1g),0.8,0.0,0.8,3.2,NaN,0.0,...,False,False,False,False,True,True,True,True,False,False

<h5>Vegan Food Keywords</h5>

In [38]:
FoodKeywords_NonVegan=['abalone', 'ayam', 'apam', 'assam pedas', 
                       'beef', 'boneless', 'breast', 'butter', 'bak kua', 'bream', 'bacon', 'blood', 'bulgogi', 'bandung', 'belly', 'bologna', 'bass', 'bone', 'bones', 'butterscotch', 'barilla', 'belacan', 'bangkit', 'birdnest', 'bahulu', 'bakul', 'bakwan', 'bladder', 'beam', 'bidaran', 'blachan', 'bmt', 'barfi', 'bandito', 'batang', 'burgers', 'buttermilk', 'brownies', 'belachan', 'bugis', 'badak', 'bluetail', 'bolognaise', 'baulu', 'buah keluak', 'bingka pulot', 'bee hoon soto',
                       'chicken', 'cream', 'chocolate', 'cheese', 'char siew', 'custard', 'cheeseburger', 'cuttlefish', 'creamer', 'crayfish', 'cheesecake', 'crabmeat', 'clam', 'crab', 'cheddar', 'cheesy', 'california roll', 'chirashi', 'chiffon', 'cermai', 'cockle', 'chic', 'chin cha lok', 'cheesy bbq meltz', 'coleslaw',
                       'duck', 'drumstick', 'doughnut', 'dough', 'dairy', 'dakgalbi', 'drumlets', 'danish', 'dagang', 'dadar', 'daging',
                       'egg', 'eclair', 'eel', 'ebi', 'eggs',
                       'fish', 'firni', 'futomaki', 'fishmeat', 'frog', 'fried kway teow', 'fillet',
                       'gado', 'gyoza', 'ghee', 'gulab',
                       'har gow', 'honey', 'halwa', 'hamburger', 'hawaiian', 'hotcakes', 'hum sui kok', 'hotdog', 'hush puppies', 'ham',
                       'ipoh hor fun',
                       'jellyfish', 'jamun', 'jajangmyeon', 'jalebi', 'jala',
                       'kaya', 'kimchi', 'kayu', 'kheer', 'ketayap', 'katsuofuridashi', 'kastad', 'kuih lidah kucing', 'kuah', 'kidney', 'kueh rose', 'kuih buah rotan', 'kueh lapis', 'kuih sri muka',
                       'laksa', 'lassi', 'latte', 'loh mai fan', 'loveletter', 'liver', 'liu sha bao', 'luncheon', 'leg', 'lap cheong', 
                       'milk', 'meat', 'mooncake', 'margarine', 'muffin', 'mayonnaise', 'milkshake', 'milo', 'mutton', 'meatball', 'mcgriddle', 'mackerel', 'mcspicy', 'mcchicken', 'mocha', 'mysore', 'macaroon', 'meringue', 'mcflurry', 'murukku', 'mapo', 'muka', 'mcwings', 'mysorepak', 'marshmallow', 'minyak', 'meltz', 'marzipan', 'mee rebus', 'ma la xiang guo', 'mee siam', 'mee soto',
                       'nectar', 'naan', 'nougat', 'nasi pattaya', 'nasi rawan',
                       'oyster', 'octopus', 'otak', 'ovaltine', 'otah', 'omelet', 'omelette', 'omu', 'oreo',
                       'pork', 'prawn', 'pulut serikaya', 'pancake', 'popiah', 'pepperoni', 'platter', 'pounder', 'paal kova', 'pig', 'puding', 'pound', 'papadi', 'pad thai', 'parfait', 'pikelet', 'payasam', 'prawns', 'pietee', 'peking',
                       'ribs', 'ramen', 'rib', 'roe', 'rendang', 'rasmalai', 'roasta', 'roller', 'roti john',
                       'silver whiting', 'seafood', 'shrimp', 'sambal', 'sausage', 'salmon', 'siu mai', 'suan la mian', 'squid', 'scallop', 'sundae', 'samosa', 'serikaya', 'swiss roll', 'sharkfin', 'shibuya', 'steak', 'sausages', 'shortcake', 'saba', 'snakeskin', 'snake, raw', 'snakehead', 'susi', 'shepherd', 'skinless', 'sooji', 'sardine', 'stomach', 'sole', 'sotong', 'sui kow',
                       'tuna', 'turkey', 'tom yum', 'telur', 'twister', 'taiyaki', 'thousand island', 'thigh', 'tenders', 'tendon', 'thairu', 'truffle', 'tiramisu', 'toasted bandito pocket', 'teh',
                       'udang', 'unagi',
                       'vongole', 'vanaspati', 'violet crumble',
                       'white rabbit', 'wanton', 'wing', 'whopper', 'wafu', 'worcestershire', 'wu kok', 'wife pastry', 'whey', 'winglets', 'wings',
                       'xiao wan mian',
                       'yong tau foo', 'yoghurt', 'yellow noodle', 'yolk', 'yolks', 'yu sheng',
                       'zinger burger', 'zazzle', 'zha jiang mian',
                       'hot plate tofu', 'kway chap', 'lor mee', 'mee goreng', 'nasi goreng', 'okonomiyaki', 'oyakodon', 
                       'satay bee hoon', 'fried rice', 'ox\W']

#FoodKeywords_Vegan=['non dairy', 'eggplant', 'coconut', 'honeydew', 'ramen', 'cooked, plain', 'vegetarian', 'vegan']
FoodKeywords_Vegan=['non dairy', 'honeydew', 'cooked, plain', 'vegetarian', 'vegan', 'teh o']

print(f'No. of non-vegan keywords = {len(FoodKeywords_NonVegan)}')
print(f'No. of vegan keywords = {len(FoodKeywords_Vegan)}')

No. of non-vegan keywords = 297
No. of vegan keywords = 6

<h5>Vegetarian Food Keywords</h5>

In [39]:
FoodKeywords_NonVegetarian=['abalone', 'ayam', 'apam', 'assam pedas',
                            'beef', 'boneless', 'breast', 'bak kua', 'bream', 'bacon', 'blood', 'bulgogi', 'belly', 'bologna', 'bass', 'bone', 'bones', 'belacan', 'bladder', 'beam', 'blachan', 'bmt', 'bandito', 'batang', 'burgers', 'belachan', 'bluetail', 'bolognaise', 'buah keluak', 'bee hoon soto',
                            'chicken', 'char siew', 'cheeseburger', 'cuttlefish', 'crayfish', 'crabmeat', 'clam', 'crab', 'california roll', 'chirashi', 'cockle', 'chic', 'chin cha lok', 'cheesy bbq meltz',
                            'duck', 'drumstick', 'dakgalbi', 'drumlets', 'dagang', 'daging',
                            'eel', 'ebi',
                            'fish', 'futomaki', 'fishmeat', 'frog', 'fried kway teow', 'fillet',
                            'gyoza',
                            'har gow', 'hamburger', 'hawaiian', 'hum sui kok', 'hotdog', 'ham',
                            'ipoh hor fun',
                            'jellyfish', 'jajangmyeon',
                            'kimchi', 'katsuofuridashi', 'kuah', 'kidney', 
                            'laksa', 'loh mai fan', 'liver', 'luncheon', 'leg', 'lap cheong', 
                            'meat', 'mutton', 'meatball', 'mcgriddle', 'mackerel', 'mcspicy', 'mcchicken', 'mapo', 'mcwings', 'meltz', 'mee rebus', 'ma la xiang guo', 'mee siam', 'mee soto',
                            'nasi pattaya', 'nasi rawan',
                            'oyster', 'octopus', 'otak', 'otah',
                            'pork', 'prawn', 'popiah', 'pepperoni', 'platter', 'pounder', 'pig', 'pad thai', 'prawns', 'pietee', 'peking',
                            'ribs', 'ramen', 'rib', 'roe', 'rendang', 'rasmalai', 'roasta', 'roller', 'roti john',
                            'silver whiting', 'seafood', 'shrimp', 'sambal', 'sausage', 'salmon', 'siu mai', 'suan la mian', 'squid', 'scallop', 'samosa', 'sharkfin', 'steak', 'sausages', 'saba', 'snakeskin', 'snake, raw', 'snakehead', 'susi', 'shepherd', 'skinless', 'sardine', 'stomach', 'sole', 'sotong', 'sui kow',
                            'tuna', 'turkey', 'tom yum', 'twister', 'thigh', 'tenders', 'tendon', 'toasted bandito pocket',
                            'udang', 'unagi',
                            'vongole',
                            'wanton', 'wing', 'whopper', 'wafu', 'worcestershire', 'wu kok', 'winglets', 'wings',
                            'xiao wan mian',
                            'yong tau foo', 'yu sheng',
                            'zinger burger', 'zazzle', 'zha jiang mian',
                            'hot plate tofu', 'kway chap', 'lor mee', 'mee goreng', 'nasi goreng', 'okonomiyaki', 'oyakodon',
                            'satay bee hoon', 'fried rice', 'ox\W']

FoodKeywords_Vegetarian=['cooked, plain', 'vegetarian', 'vegan']

print(f'No. of non-vegetarian keywords = {len(FoodKeywords_NonVegetarian)}')
print(f'No. of vegetarian keywords = {len(FoodKeywords_Vegetarian)}')

No. of non-vegetarian keywords = 179
No. of vegetarian keywords = 3

<h5>Halal Food Keywords</h5>

In [40]:
FoodKeywords_NonHalal=['beef', 'bak kua', 'bacon', 'blood', 'bologna', 'bmt', 'bandito', 'batang', 'bolognaise',
                       'chicken', 'char siew', 'cheeseburger', 'california roll', 'chirashi', 'cockle', 'chic', 'chin cha lok', 'cheesy bbq meltz',
                       'duck', 'drumstick', 'dakgalbi', 'drumlets', 'dagang', 'daging'
                       'fried kway teow',
                       'gyoza',
                       'har gow', 'hamburger', 'hawaiian', 'hum sui kok', 'hotdog', 'ham',
                       'ipoh hor fun',
                       'jajangmyeon',
                       'kuah', 
                       'laksa', 'loh mai fan', 'liver', 'luncheon', 'leg', 'lap cheong', 
                       'meat', 'mutton', 'meatball', 'mcgriddle', 'mackerel', 'mcspicy', 'mcchicken', 'mapo', 'mcwings', 'mee rebus', 'ma la xiang guo', 
                       'pork', 'popiah', 'pepperoni', 'pig', 'peking',
                       'ramen',
                       'sausage', 'siu mai', 'suan la mian', 'steak', 'sausages', 'snakeskin', 'snake, raw', 'snakehead', 'shepherd', 'sui kow',
                       'turkey', 'tom yum', 
                       'vongole',
                       'wanton', 'wafu', 'worcestershire', 'wu kok',
                       'xiao wan mian',
                       'yong tau foo', 'yu sheng',
                       'zha jiang mian']

FoodKeywords_Halal=['kfc', 'popeyes', 'long john silver', 'mcdonald', 'subway', 'burger king', 'swensen', 'vegetarian', 'vegan', 'mos burger',
                    'assam', 'apam', 'abok', 'ayam',
                    'briyani', 'bandung', 'bingka', 'buah', 'bubur', 'bangkit', 'badak', 'bambu', 'beras', 'bahulu', 'berdurian', 'bilis', 'bombay', 'baulu', 'bugis', 'basan', 'belacan', 'bergedil', 'bengka', 'bidaran', 'bakul', 'belachan', 'blachan', 'bubor', 'bawang', 'bungkus',
                    'cucur', 'cermai',
                    'dodol', 'dagang', 'dadar', 'daging',
                    'emping',
                    'goreng', 'getuk',
                    'halwa', 'hitam', 'halia', 'hangus', 'harum',
                    'ikan', 'inti',
                    'jagung', 'jala', 'jemput',
                    'kueh', 'kuih', 'kaya', 'kacang', 'kayu', 'koci', 'kasturi', 'ketayap', 'kapit', 'keria', 'kuning', 'keluak', 'kunyit', 'ketupat', 'kastad', 'kuah', 'kurma', 'karas', 'kucing', 'kanji', 'kuih talam, seri kaya',
                    'laksa', 'lemak', 'lapis', 'lontong', 'lengat', 'lompang', 'labah', 'lodeh', 'lepat', 'lopes', 'lidah',
                    'malay', 'merah', 'melaka', 'mamee', 'murtabak', 'mamak', 'mayam', 'makmur', 'minyak', 'masak', 'manis', 'muka', 'muda', 'mysore', 'mee soto',
                    'ondeh', 'otak', 'otah',
                    'pulut', 'prata', 'pedas', 'pakoda', 'penyet', 'puding', 'piring', 'peneram', 'pulot', 'pattaya', 'putih', 'panggang', 
                    'roti', 'rendang', 'rempah', 'rawan',
                    'siam', 'satay', 'sayur', 'sagu', 'serikaya', 'surabaya', 'sarlat', 'sooji',
                    'talam', 'telur', 'tepung', 'terigu', 'tarik', 'tapai',
                    'udang',
                    'wajik']

print(f'No. of non-halal keywords = {len(FoodKeywords_NonHalal)}')
print(f'No. of halal keywords = {len(FoodKeywords_Halal)}')

No. of non-halal keywords = 78
No. of halal keywords = 141

<h5>Beef Food Keywords</h5>

In [41]:
FoodKeywords_Beef=['beef', 'bulgogi', 'daging', 'ox\W']

print(f'No. of beef keywords = {len(FoodKeywords_Beef)}')

No. of beef keywords = 4

<h5>Update Vegan labels</h5>

In [42]:
labelName = 'Vegan'

FoodGroups_False = FoodGroups_NonVegan
FoodSubGroups_False = FoodSubGroups_NonVegan
FoodKeywords_False = FoodKeywords_NonVegan

FoodGroups_True = FoodGroups_Vegan
FoodKeywords_True = FoodKeywords_Vegan

display(data.select_dtypes(include='bool').apply(pd.value_counts))

# label from Food Groups
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            data['FoodGroup'].isin(FoodGroups_False)
data.loc[criteria, labelName] = False
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            data['FoodGroup'].isin(FoodGroups_True)
data.loc[criteria, labelName] = True
display(data.select_dtypes(include='bool').apply(pd.value_counts))

# label from Food Sub Groups
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            data['FoodGroup'].isin(FoodGroups_False)
data.loc[criteria, labelName] = False
display(data.select_dtypes(include='bool').apply(pd.value_counts))

# label from Food Names
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            (sum([data['FoodName'].str.contains(word, case=False, regex=True) for word in FoodKeywords_False]) > 0)
data.loc[criteria, labelName] = False
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            (sum([data['FoodName'].str.contains(word, case=False, regex=True) for word in FoodKeywords_True]) > 0)
data.loc[criteria, labelName] = True

display(data.select_dtypes(include='bool').apply(pd.value_counts))

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,1187,975,671,3919,3884
True,119,204,100,127,3370,2733,2945,3249,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,1187,975,671,3919,3884
True,119,204,100,127,3370,2733,2945,3249,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,1187,975,671,3919,3884
True,119,204,100,127,3370,2733,2945,3249,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,2277,975,671,3919,3884
True,119,204,100,127,3370,1643,2945,3249,1,36

<h5>Update Vegetarian labels</h5>

In [43]:
labelName = 'Vegetarian'

FoodGroups_False = FoodGroups_NonVegetarian
FoodSubGroups_False = FoodSubGroups_NonVegetarian
FoodKeywords_False = FoodKeywords_NonVegetarian

FoodGroups_True = FoodGroups_Vegetarian
FoodKeywords_True = FoodKeywords_Vegetarian

display(data.select_dtypes(include='bool').apply(pd.value_counts))

# label from Food Groups
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            data['FoodGroup'].isin(FoodGroups_False)
data.loc[criteria, labelName] = False
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            data['FoodGroup'].isin(FoodGroups_True)
data.loc[criteria, labelName] = True
display(data.select_dtypes(include='bool').apply(pd.value_counts))

# label from Food Subgroups
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            data['FoodSubGroup'].isin(FoodSubGroups_False)
data.loc[criteria, labelName] = False
display(data.select_dtypes(include='bool').apply(pd.value_counts))

# label from Food Names
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            (sum([data['FoodName'].str.contains(word, case=False, regex=True) for word in FoodKeywords_False]) > 0)
data.loc[criteria, labelName] = False
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            (sum([data['FoodName'].str.contains(word, case=False, regex=True) for word in FoodKeywords_True]) > 0)
data.loc[criteria, labelName] = True
display(data.select_dtypes(include='bool').apply(pd.value_counts))

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,2277,975,671,3919,3884
True,119,204,100,127,3370,1643,2945,3249,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,2277,970,671,3919,3884
True,119,204,100,127,3370,1643,2950,3249,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,2277,975,671,3919,3884
True,119,204,100,127,3370,1643,2945,3249,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,2277,1704,671,3919,3884
True,119,204,100,127,3370,1643,2216,3249,1,36

<h5>Update Halal labels</h5>

In [44]:
labelName = 'Halal'

FoodGroups_False = FoodGroups_NonHalal
FoodSubGroups_False = FoodSubGroups_NonHalal
FoodKeywords_False = FoodKeywords_NonHalal

FoodGroups_True = FoodGroups_Halal
FoodKeywords_True = FoodKeywords_Halal

display(data.select_dtypes(include='bool').apply(pd.value_counts))

# label from Food Groups
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            data['FoodGroup'].isin(FoodGroups_False)
data.loc[criteria, labelName] = False
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            data['FoodGroup'].isin(FoodGroups_True)
data.loc[criteria, labelName] = True
display(data.select_dtypes(include='bool').apply(pd.value_counts))

# label from Food Subgroups
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            data['FoodSubGroup'].isin(FoodSubGroups_False)
data.loc[criteria, labelName] = False
display(data.select_dtypes(include='bool').apply(pd.value_counts))

# label from Food Names
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            (sum([data['FoodName'].str.contains(word, case=False, regex=True) for word in FoodKeywords_False]) > 0)
data.loc[criteria, labelName] = False
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            (sum([data['FoodName'].str.contains(word, case=False, regex=True) for word in FoodKeywords_True]) > 0)
data.loc[criteria, labelName] = True
data.loc[data['FoodName'].str.contains('pork', case=False), labelName] = False
display(data.select_dtypes(include='bool').apply(pd.value_counts))

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,2277,1704,671,3919,3884
True,119,204,100,127,3370,1643,2216,3249,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,2277,1704,666,3919,3884
True,119,204,100,127,3370,1643,2216,3254,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,2277,1704,671,3919,3884
True,119,204,100,127,3370,1643,2216,3249,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,2277,1704,1017,3919,3884
True,119,204,100,127,3370,1643,2216,2903,1,36

<h5>Update Contains Beef labels</h5>

In [45]:
labelName = 'ContainsBeef'

FoodKeywords_True = FoodKeywords_Beef

display(data.select_dtypes(include='bool').apply(pd.value_counts))
criteria = ~data['FoodGroup'].isin(['BEVERAGES']) &\
            (sum([data['FoodName'].str.contains(word, case=False, regex=True) for word in FoodKeywords_True]) > 0)
data.loc[criteria, labelName] = True
display(data.select_dtypes(include='bool').apply(pd.value_counts))

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,2277,1704,1017,3919,3884
True,119,204,100,127,3370,1643,2216,2903,1,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,2277,1704,1017,3762,3884
True,119,204,100,127,3370,1643,2216,2903,158,36

<h5>Update IsOthers</h5>

In [46]:
labelName = 'IsOthers'

FoodKeywords_True = FoodKeywords_Beef

display(data.select_dtypes(include='bool').apply(pd.value_counts))
criteria = ~data['IsMainDish'] & ~data['IsBreakfast']
data.loc[criteria, labelName] = True
display(data.select_dtypes(include='bool').apply(pd.value_counts))

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,550,2277,1704,1017,3762,3884
True,119,204,100,127,3370,1643,2216,2903,158,36

,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
False,3801,3716,3820,3793,219,2277,1704,1017,3762,3884
True,119,204,100,127,3701,1643,2216,2903,158,36

<h4>Save data to another csv file</h4>

In [47]:
outfile = 'foodDataBase_Working_DC2.csv'
data.to_csv(outfile, index=False)

dataWorking = pd.read_csv(outfile)
display(dataWorking.info())
display(dataWorking.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3920 entries, 0 to 3919
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   FoodName                    3920 non-null   object
 1   FoodGroup                   3920 non-null   object
 2   FoodSubGroup                3920 non-null   object
 3   PerServingHouseholdMeasure  3920 non-null   object
 4   CarbohydrateAmount_g        3920 non-null   float64
 5   CholesterolAmount_mg        3445 non-null   float64
 6   DietaryFibreAmount_g        3817 non-null   float64
 7   EnergyAmount_kcal           3920 non-null   float64
 8   GlycemicIndexAmount         101 non-null    float64
 9   ProteinAmount_g             3917 non-null   float64
 10  SugarAmount_g               3265 non-null   float64
 11  MonounsaturatedFatAmount_g  3565 non-null   float64
 12  PolyunsaturatedFatAmount_g  3590 non-null   float64
 13  SaturatedFatAmount_g        3669 non-null   float64
 14  TotalFatAmount_g            3912 non-null   float64
 15  IsMainDish                  3920 non-null   bool
 16  IsFastFood                  3920 non-null   bool
 17  IsBreakfast                 3920 non-null   bool
 18  IsBeverages                 3920 non-null   bool
 19  IsOthers                    3920 non-null   bool
 20  Vegan                       3920 non-null   bool
 21  Vegetarian                  3920 non-null   bool
 22  Halal                       3920 non-null   bool
 23  ContainsBeef                3920 non-null   bool
 24  Alcohol                     3920 non-null   bool
dtypes: bool(10), float64(11), object(4)
memory usage: 497.8+ KB

None

,FoodName,FoodGroup,FoodSubGroup,PerServingHouseholdMeasure,CarbohydrateAmount_g,CholesterolAmount_mg,DietaryFibreAmount_g,EnergyAmount_kcal,GlycemicIndexAmount,ProteinAmount_g,...,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
0,"2-in-1 coffee powder, with creamer",BEVERAGES,Non-alcoholic beverages,Packet (12g),7.79,0.16,0.46,56.28,NaN,0.82,...,False,False,False,True,True,False,True,True,False,False
1,"2-in-1 coffee powder, with sugar",BEVERAGES,Non-alcoholic beverages,Sachet (15g),13.28,NaN,1.20,60.60,NaN,0.87,...,False,False,False,True,True,True,True,True,False,False
2,3 in 1 ready to drink coffee instant,BEVERAGES,Non-alcoholic beverages,Can (240g),14.16,3.36,0.24,81.60,NaN,2.40,...,False,False,False,True,True,False,True,True,False,False
3,3-in-1 cereal,CEREAL AND CEREAL PRODUCTS,Breakfast cereals,Sachet (30g),13.11,1.80,1.17,89.10,23.1,2.37,...,False,False,False,False,True,False,True,True,False,False
4,3-in-1 coffee powder,"MIXED ETHNIC DISHES, ANALYZED IN SINGAPORE",Beverages,Sachet (20g),9.31,0.50,0.00,65.40,NaN,1.13,...,False,False,False,False,True,True,True,True,False,False

In [48]:
display(data[((~data['IsMainDish'] & ~data['IsBreakfast']) & ~data['IsOthers'])])
display(data[((data['IsMainDish'] | data['IsBreakfast']) & data['IsOthers'])])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [49]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('chicken', case=False)])

,FoodName,FoodGroup,FoodSubGroup,PerServingHouseholdMeasure,CarbohydrateAmount_g,CholesterolAmount_mg,DietaryFibreAmount_g,EnergyAmount_kcal,GlycemicIndexAmount,ProteinAmount_g,...,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
704,"Chicken curry, vegetarian, canned",MISCELLANEOUS,Others,Can (291g),13.97,0.0,5.82,264.81,NaN,20.66,...,False,False,False,False,True,True,True,True,False,False
2666,"Pow, vegetarian chicken",CEREAL AND CEREAL PRODUCTS,"Buns (baked and steamed,plain and with sweet fillings)",Whole (59g),21.12,0.0,2.30,137.47,NaN,4.96,...,False,False,False,False,True,True,True,True,False,False
3541,Vegetarian chicken,CEREAL AND CEREAL PRODUCTS,Grains and flours,Piece (15.11g),0.50,0.0,0.14,29.00,NaN,2.49,...,False,False,False,False,True,True,True,True,False,False

In [50]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('fish', case=False)])

,FoodName,FoodGroup,FoodSubGroup,PerServingHouseholdMeasure,CarbohydrateAmount_g,CholesterolAmount_mg,DietaryFibreAmount_g,EnergyAmount_kcal,GlycemicIndexAmount,ProteinAmount_g,...,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
1263,"Fish ball, vegetarian, boiled","MIXED ETHNIC DISHES, ANALYZED IN SINGAPORE",Cereal based dishes,Whole (6.75g),0.43,0.0,0.27,5.67,NaN,0.05,...,False,False,False,False,True,True,True,True,False,False

In [51]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('mutton', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [52]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('beef', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [53]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('shrimp', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [54]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('omelet', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [55]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('cappuccino', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [56]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('coleslaw', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [57]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('fillet', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [58]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('hot plate tofu', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [59]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('Japanese Pork Ramen', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [60]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('Kway chap', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [61]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('Lor mee', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [62]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('mee goreng', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [63]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('nasi goreng', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [64]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('okonomiyaki', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [65]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('oyakodon', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [66]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('satay bee hoon', case=False)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [67]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('teh', case=False)])

,FoodName,FoodGroup,FoodSubGroup,PerServingHouseholdMeasure,CarbohydrateAmount_g,CholesterolAmount_mg,DietaryFibreAmount_g,EnergyAmount_kcal,GlycemicIndexAmount,ProteinAmount_g,...,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
1631,Ice teh o limau,BEVERAGES,Non-alcoholic beverages,Glass (250ml) (250g),17.85,0.0,1.50,76.88,NaN,0.53,...,False,False,False,True,True,True,True,True,False,False
1632,Ice teh o longan,BEVERAGES,Non-alcoholic beverages,Glass (250ml) (250g),18.60,0.0,0.35,74.35,NaN,0.20,...,False,False,False,True,True,True,True,True,False,False
1633,Ice teh o lychee,BEVERAGES,Non-alcoholic beverages,Glass (250ml) (250g),18.60,0.0,0.35,74.20,NaN,0.20,...,False,False,False,True,True,True,True,True,False,False
3371,Teh O,"MIXED ETHNIC DISHES, ANALYZED IN SINGAPORE",Beverages,Cup (375g),28.13,0.0,0.38,112.50,NaN,0.38,...,False,False,False,False,True,True,True,True,False,False

In [68]:
display (data[(data['Vegan'] == True) & data['FoodName'].str.contains('fried rice', case=False)])

,FoodName,FoodGroup,FoodSubGroup,PerServingHouseholdMeasure,CarbohydrateAmount_g,CholesterolAmount_mg,DietaryFibreAmount_g,EnergyAmount_kcal,GlycemicIndexAmount,ProteinAmount_g,...,IsMainDish,IsFastFood,IsBreakfast,IsBeverages,IsOthers,Vegan,Vegetarian,Halal,ContainsBeef,Alcohol
3543,Vegetarian fried rice,"MIXED ETHNIC DISHES, ANALYZED IN SINGAPORE",Cereal based dishes,Plate-23cm (335.3g),94.96,5.03,11.3,579.4,NaN,14.35,...,False,False,False,False,True,True,True,True,False,False

In [69]:
display (data[(data['Halal'] == True) & data['FoodName'].str.contains('pork', case=False, regex=True)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]

In [70]:
display (data[(data['ContainsBeef'] == False) & data['FoodName'].str.contains('ox', case=False, regex=True)])

Empty DataFrame
Columns: [FoodName, FoodGroup, FoodSubGroup, PerServingHouseholdMeasure, CarbohydrateAmount_g, CholesterolAmount_mg, DietaryFibreAmount_g, EnergyAmount_kcal, GlycemicIndexAmount, ProteinAmount_g, SugarAmount_g, MonounsaturatedFatAmount_g, PolyunsaturatedFatAmount_g, SaturatedFatAmount_g, TotalFatAmount_g, IsMainDish, IsFastFood, IsBreakfast, IsBeverages, IsOthers, Vegan, Vegetarian, Halal, ContainsBeef, Alcohol]
Index: []

[0 rows x 25 columns]